<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<array>
		<dict>
			<key>SettingName</key>
			<string>Alto Sax 1</string>
			<key>SettingIconID</key>
			<integer>4499</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Alto Sax 2</string>
			<key>SettingIconID</key>
			<integer>4499</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Tenor Sax 1</string>
			<key>SettingIconID</key>
			<integer>4244</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Tenor Sax 2</string>
			<key>SettingIconID</key>
			<integer>4244</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Baritone Sax</string>
			<key>SettingIconID</key>
			<integer>4245</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trumpet 1</string>
			<key>SettingIconID</key>
			<integer>4220</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>2</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trumpet 2</string>
			<key>SettingIconID</key>
			<integer>4220</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>2</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trumpet 3</string>
			<key>SettingIconID</key>
			<integer>4220</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>2</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trumpet 4</string>
			<key>SettingIconID</key>
			<integer>4220</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>2</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trombone 1</string>
			<key>SettingIconID</key>
			<integer>4222</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>3</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trombone 2</string>
			<key>SettingIconID</key>
			<integer>4222</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>3</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Trombone 3</string>
			<key>SettingIconID</key>
			<integer>4222</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>3</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Bass Trombone</string>
			<key>SettingIconID</key>
			<integer>4222</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingHasFlap</key>
			<false/>
			<key>SettingSection</key>
			<integer>3</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>R&amp;B Section</string>
			<key>SettingIconID</key>
			<real>4500</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Soul Section</string>
			<key>SettingIconID</key>
			<real>4500</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Jazz Section</string>
			<key>SettingIconID</key>
			<real>4500</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingHasFlap</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
	</array>
</dict>
</plist>
