<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Settings</key>
	<array>
		<dict>
			<key>SettingName</key>
			<string>Violins 1</string>
			<key>SettingIconID</key>
			<integer>4198</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Violins 2</string>
			<key>SettingIconID</key>
			<integer>4142</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Violas</string>
			<key>SettingIconID</key>
			<integer>4200</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Cellos</string>
			<key>SettingIconID</key>
			<integer>4199</integer>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Double Basses</string>
			<key>SettingIconID</key>
			<real>4176</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<true/>
			<key>SettingHasAutoSwitch</key>
			<false/>
			<key>SettingSection</key>
			<integer>1</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Small Section</string>
			<key>SettingIconID</key>
			<real>4141</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Disco Strings</string>
			<key>SettingIconID</key>
			<real>4140</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>Singer Songwriter</string>
			<key>SettingIconID</key>
			<real>4139</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>SettingName</key>
			<string>String Ensemble</string>
			<key>SettingIconID</key>
			<real>4138</real>
			<key>SettingPkg</key>
			<string></string>
			<key>SettingHasMonoSwitch</key>
			<false/>
			<key>SettingHasAutoSwitch</key>
			<true/>
			<key>SettingSection</key>
			<integer>0</integer>
			<key>SettingOrder</key>
			<integer>3</integer>
		</dict>
	</array>
</dict>
</plist>
