<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Articulation Names</key>
	<dict>
		<key>Main Picked</key>
		<integer>1</integer>
		<key>Main Plucked</key>
		<integer>2</integer>
		<key>Tremolo</key>
		<integer>3</integer>
		<key>Harmonics</key>
		<integer>4</integer>
		<key>Glissando Picked</key>
		<integer>5</integer>
		<key>Glissando Plucked</key>
		<integer>6</integer>
	</dict>
	<key>Modules</key>
	<dict>
		<key>Fixed String Instrument Module</key>
		<dict>
			<key>moduleSettings</key>
			<dict>
				<key>retriggerDelayMs</key>
				<integer>3</integer>
			</dict>
		</dict>
		<key>StringID Decoder Module</key>
		<dict>
			<key>moduleSettings</key>
			<dict>
				<key>stringEncodedChannel</key>
				<integer>2</integer>
				<key>firstEncodedArtID</key>
				<integer>32</integer>
			</dict>
		</dict>
		<key>Sustain Module</key>
		<dict>
			<key>moduleSettings</key>
			<dict>
				<key>useMonophonicMode</key>
				<true/>
				<key>maxSustainingEvents</key>
				<integer>32</integer>
			</dict>
		</dict>
		<key>Channel Change Module</key>
		<dict>
			<key>moduleSettings</key>
			<dict>
				<key>setUndefinedIDsTo1</key>
				<true/>
				<key>onlyChangeNotes</key>
				<true/>
			</dict>
		</dict>
		<key>Pick Module</key>
		<dict>
			<key>moduleSettings</key>
			<dict>
				<key>pickEventLength</key>
				<integer>3</integer>
			</dict>
			<key>articulationProperties</key>
			<dict>
				<key>mainPicked</key>
				<dict>
					<key>pickArticulation</key>
					<integer>11</integer>
					<key>pickVelocityMin</key>
					<integer>1</integer>
					<key>pickVelocityMax</key>
					<integer>127</integer>
					<key>pickVelocityJitter</key>
					<integer>15</integer>
				</dict>
				<key>tremolo</key>
				<dict>
					<key>pickArticulation</key>
					<integer>13</integer>
					<key>pickVelocityMin</key>
					<integer>10</integer>
					<key>pickVelocityMax</key>
					<integer>127</integer>
					<key>pickVelocityJitter</key>
					<integer>20</integer>
				</dict>
				<key>glissandoPicked</key>
				<dict>
					<key>pickArticulation</key>
					<integer>15</integer>
					<key>pickVelocityMin</key>
					<integer>10</integer>
					<key>pickVelocityMax</key>
					<integer>127</integer>
					<key>pickVelocityJitter</key>
					<integer>10</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>Articulation ID Assignments</key>
	<dict>
		<key>mainPicked</key>
		<integer>1</integer>
		<key>mainPlucked</key>
		<integer>2</integer>
		<key>tremolo</key>
		<integer>3</integer>
		<key>harmonic</key>
		<integer>4</integer>
		<key>glissandoPicked</key>
		<integer>5</integer>
		<key>glissandoPlucked</key>
		<integer>6</integer>
	</dict>
</dict>
</plist>
