<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:1| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Filter</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>filter switch</string>
			<key>parameterID</key>
			<real>34</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Cutoff</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Resonance</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Filter Mode</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Fatness</string>
					<key>parameterID</key>
					<integer>5</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Stereo Spread</string>
					<key>parameterID</key>
					<integer>31</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Env Cutoff Mod</string>
					<key>parameterID</key>
					<integer>21</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LFO Cutoff Mod</string>
					<key>parameterID</key>
					<integer>13</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Distortion</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>distortion switch</string>
			<key>parameterID</key>
			<real>37</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Input Distortion</string>
							<key>parameterID</key>
							<integer>1</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pre Filter Distortion Mode</string>
							<key>parameterID</key>
							<integer>33</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Output Distortion</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Post Filter Distortion Mode</string>
							<key>parameterID</key>
							<integer>39</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>bogus</string>
			<key>parameterID</key>
			<real>35</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Threshold</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Env-&gt;ADSR Modulation</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sidechain Link</string>
							<key>parameterID</key>
							<integer>38</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Attack</string>
					<key>parameterID</key>
					<integer>17</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Decay</string>
					<key>parameterID</key>
					<integer>18</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sustain</string>
					<key>parameterID</key>
					<integer>19</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Release</string>
					<key>parameterID</key>
					<integer>20</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
		<key>activityValue</key>
		<dict>
			<key>name</key>
			<string>Envelope</string>
			<key>syncValueChannel</key>
			<integer>0</integer>
			<key>syncValueID</key>
			<integer>1</integer>
		</dict>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>bogus</string>
			<key>parameterID</key>
			<real>36</real>
		</dict>
		<key>activityValue</key>
		<dict>
			<key>name</key>
			<string>LFO</string>
			<key>syncValueChannel</key>
			<integer>0</integer>
			<key>syncValueID</key>
			<integer>0</integer>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO Rate</string>
							<key>parameterID</key>
							<integer>32</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Rate</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Beat Sync.</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Waveform</string>
							<key>parameterID</key>
							<integer>11</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Retrigger</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>knob</string>
						<key>name</key>
						<string>Pulsewidth</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Sync Phase</string>
					<key>parameterID</key>
					<integer>27</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Stereophase</string>
					<key>parameterID</key>
					<integer>10</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Out</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Dry Signal</string>
					<key>parameterID</key>
					<integer>28</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Main Out</string>
					<key>parameterID</key>
					<integer>23</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
