<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Combo</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Model</string>
							<key>parameterID</key>
							<integer>47</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Amp</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Amp</string>
							<key>parameterID</key>
							<integer>48</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Input</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Bright</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gain</string>
							<key>parameterID</key>
							<integer>11</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Main EQ</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>12</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Low Switch</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bass</string>
							<key>parameterID</key>
							<integer>13</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Mid Range</string>
							<key>parameterID</key>
							<integer>16</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mids</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>High Switch</string>
							<key>parameterID</key>
							<integer>18</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Treble</string>
							<key>parameterID</key>
							<integer>17</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Compressor</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>25</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Attack</string>
							<key>parameterID</key>
							<integer>27</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Comp Amount</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Makeup Gain</string>
						<key>parameterID</key>
						<integer>28</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Graphic / Parametric EQ</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>30</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>G/P EQ Type</string>
							<key>parameterID</key>
							<integer>32</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>EQ Pos</string>
							<key>parameterID</key>
							<integer>31</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>40 Hz</string>
						<key>parameterID</key>
						<integer>33</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>100 Hz</string>
						<key>parameterID</key>
						<integer>34</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>250 Hz</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>625 Hz</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>1560 Hz</string>
						<key>parameterID</key>
						<integer>37</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>3900 Hz</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>6600 Hz</string>
						<key>parameterID</key>
						<integer>39</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Low Mid</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>LMF Gain</string>
						<key>parameterID</key>
						<integer>40</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LMF Freq</string>
						<key>parameterID</key>
						<integer>41</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LMF Q</string>
						<key>parameterID</key>
						<integer>42</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Mid</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>HMF Gain</string>
						<key>parameterID</key>
						<integer>43</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HMF Freq</string>
						<key>parameterID</key>
						<integer>44</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>HMF Q</string>
						<key>parameterID</key>
						<integer>45</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Amp Out</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Master</string>
						<key>parameterID</key>
						<integer>21</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Cabinet &amp; Microphone</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Speaker</string>
							<key>parameterID</key>
							<integer>49</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Microphone type</string>
							<key>parameterID</key>
							<integer>50</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>groupName</key>
					<string>Pad</string>
					<key>subGroupType</key>
					<string>xyPad</string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>X</string>
							<key>parameterID</key>
							<integer>51</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Y</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>DI Box</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>DI Gain</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>DI HF Cut</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>DI Tone</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>DI Tone On/Off</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Mix</string>
						<key>parameterID</key>
						<integer>64</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Output Gain</string>
						<key>parameterID</key>
						<integer>65</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName &lt;hidden&gt;</key>
		<string>Mysterious</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>groupName</key>
					<string></string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>EQ/Comp &gt; Pow Gain</string>
							<key>parameterID</key>
							<integer>20</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>groupName</key>
					<string></string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pre Gain</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>groupName</key>
					<string></string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>PreAmp &gt; EQ/Comp Gain</string>
							<key>parameterID</key>
							<integer>19</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>groupName</key>
					<string></string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>Show</string>
							<key>parameterID</key>
							<integer>66</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>groupName</key>
					<string></string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>Pow &gt; Cab FIR Amnt</string>
							<key>parameterID</key>
							<integer>23</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Out Gain</string>
						<key>parameterID</key>
						<integer>22</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
