<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Low Cut</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Low Cut On/Off</string>
			<key>parameterID</key>
			<real>1</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Low Cut Slope</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Low Cut Frequency</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Low Cut Q-Factor</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Low Shelf</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Low Shelf On/Off</string>
			<key>parameterID</key>
			<real>5</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Low Shelf Gain</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Low Shelf Frequency</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Low Shelf Q-Factor</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Peak 1</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Peak 1 On/Off</string>
			<key>parameterID</key>
			<real>9</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 1 Gain</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 1 Frequency</string>
						<key>parameterID</key>
						<integer>10</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 1 Q-Factor</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Peak 2</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Peak 2 On/Off</string>
			<key>parameterID</key>
			<real>13</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 2 Gain</string>
						<key>parameterID</key>
						<integer>15</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 2 Frequency</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 2 Q-Factor</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Peak 3</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Peak 3 On/Off</string>
			<key>parameterID</key>
			<real>17</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 3 Gain</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 3 Frequency</string>
						<key>parameterID</key>
						<integer>18</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 3 Q-Factor</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Peak 4</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Peak 4 On/Off</string>
			<key>parameterID</key>
			<real>21</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 4 Gain</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 4 Frequency</string>
						<key>parameterID</key>
						<integer>22</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Peak 4 Q-Factor</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>High Shelf</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>High Shelf On/Off</string>
			<key>parameterID</key>
			<real>25</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>High Shelf Gain</string>
						<key>parameterID</key>
						<integer>27</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>High Shelf Frequency</string>
						<key>parameterID</key>
						<integer>26</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>High Shelf Q-Factor</string>
						<key>parameterID</key>
						<integer>28</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>High Cut</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>High Cut On/Off</string>
			<key>parameterID</key>
			<real>29</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>High Cut Slope</string>
						<key>parameterID</key>
						<integer>31</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<dict>
						<key>name</key>
						<string>High Cut Frequency</string>
						<key>parameterID</key>
						<integer>30</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>High Cut Q-Factor</string>
						<key>parameterID</key>
						<integer>32</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Master  Gain</string>
					<key>parameterID</key>
					<integer>33</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName &lt;hidden&gt;</key>
		<string>Details</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Gain-Q coupling</string>
							<key>parameterID</key>
							<integer>42</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Gain-Q Couple Mode</string>
							<key>parameterID</key>
							<integer>43</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Oversampling</string>
							<key>parameterID</key>
							<integer>45</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Channel Mode</string>
							<key>parameterID</key>
							<integer>46</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Visualize Master Gain</string>
							<key>parameterID</key>
							<integer>47</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>EQ dB Scale Mode</string>
							<key>parameterID</key>
							<integer>48</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>EQ Scale Shift</string>
						<key>parameterID</key>
						<integer>49</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Fix</string>
						<key>parameterID</key>
						<integer>51</integer>
						<key>preferredControlType</key>
						<string>readout</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 1 Real Q</string>
						<key>parameterID</key>
						<integer>1001</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 2 Real Q</string>
						<key>parameterID</key>
						<integer>1002</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 3 Real Q</string>
						<key>parameterID</key>
						<integer>1003</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Peak 4 Real Q</string>
						<key>parameterID</key>
						<integer>1004</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 0</string>
						<key>parameterID</key>
						<integer>1005</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 1</string>
						<key>parameterID</key>
						<integer>1006</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 2</string>
						<key>parameterID</key>
						<integer>1007</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 3</string>
						<key>parameterID</key>
						<integer>1008</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 4</string>
						<key>parameterID</key>
						<integer>1009</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 5</string>
						<key>parameterID</key>
						<integer>1010</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 6</string>
						<key>parameterID</key>
						<integer>1011</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Q Circle RelY 7</string>
						<key>parameterID</key>
						<integer>1012</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>dB Warp</string>
						<key>parameterID</key>
						<integer>37</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Band Select</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName &gt;hidden&gt;</key>
		<string>Analyzer</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Analyzer On/Off</string>
			<key>parameterID</key>
			<real>34</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Analyzer Position</string>
							<key>parameterID</key>
							<integer>39</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Analyzer Range</string>
							<key>parameterID</key>
							<integer>50</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Analyzer Mode</string>
							<key>parameterID</key>
							<integer>40</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Analyzer Resolution</string>
							<key>parameterID</key>
							<integer>35</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Analyzer Decay</string>
						<key>parameterID</key>
						<integer>41</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Analyzer Top</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
