<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>preferredControlType</key>
					<string>knob</string>
					<key>parameterID</key>
					<integer>3</integer>
					<key>name</key>
					<string>Rate</string>
				</dict>
				<dict>
					<key>preferredControlType</key>
					<string>knob</string>
					<key>parameterID</key>
					<integer>2</integer>
					<key>name</key>
					<string>Intensity</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>preferredControlType</key>
					<string>toggle</string>
					<key>parameterID</key>
					<integer>4</integer>
					<key>name</key>
					<string>D-mode</string>
				</dict>
				<dict>
					<key>preferredControlType</key>
					<string>knob</string>
					<key>parameterID</key>
					<integer>1</integer>
					<key>name</key>
					<string>Mix</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
