<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Main</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Room Type</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Freeze</string>
							<key>parameterID</key>
							<integer>16</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Predelay</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Predelay Sync</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Decay Time</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>DecayTime Sync</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<array/>
			<array>
				<dict>
					<key>name</key>
					<string>Attack</string>
					<key>parameterID</key>
					<integer>8</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Size</string>
					<key>parameterID</key>
					<integer>9</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Density</string>
					<key>parameterID</key>
					<integer>10</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Distance</string>
					<key>parameterID</key>
					<integer>11</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Dry</string>
					<key>parameterID</key>
					<integer>1</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wet</string>
					<key>parameterID</key>
					<integer>2</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Damping EQ</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Low Shelf</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Damping Low Shelf Freq</string>
							<key>parameterID</key>
							<integer>24</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping Low Shelf Ratio</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping Low Shelf Q</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Low Peak</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Damping Low Peak Freq</string>
							<key>parameterID</key>
							<integer>27</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping Low Peak Ratio</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping Low Peak Q</string>
							<key>parameterID</key>
							<integer>29</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Peak</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Damping High Peak Freq</string>
							<key>parameterID</key>
							<integer>30</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping High Peak Ratio</string>
							<key>parameterID</key>
							<integer>31</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping High Peak Q</string>
							<key>parameterID</key>
							<integer>32</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Shelf</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Damping High Shelf Freq</string>
							<key>parameterID</key>
							<integer>33</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping High Shelf Ratio</string>
							<key>parameterID</key>
							<integer>34</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Damping High Shelf Q</string>
							<key>parameterID</key>
							<integer>35</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Details</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Quality</string>
					<key>parameterID</key>
					<integer>17</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Modulation Waveform</string>
							<key>parameterID</key>
							<integer>21</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Modulation Shape</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Modulation Speed</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Modulation Amount</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Early/Late Mix</string>
					<key>parameterID</key>
					<integer>12</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Width</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Mono Maker Freq</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mono Maker on/off</string>
							<key>parameterID</key>
							<real>14</real>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output EQ</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Out EQ On/Off</string>
			<key>parameterID</key>
			<real>37</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Low Cut</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Low Cut On/Off</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Low Cut Freq</string>
							<key>parameterID</key>
							<integer>39</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Cut Order</string>
							<key>parameterID</key>
							<integer>40</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Cut Q</string>
							<key>parameterID</key>
							<integer>41</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Low Shelf</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Low Shelf On/Off</string>
						<key>parameterID</key>
						<integer>42</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Low Shelf Freq</string>
							<key>parameterID</key>
							<integer>43</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Shelf Gain</string>
							<key>parameterID</key>
							<integer>44</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Shelf Q</string>
							<key>parameterID</key>
							<integer>45</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Low Peak</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Low Peak On/Off</string>
						<key>parameterID</key>
						<integer>46</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Low Peak Freq</string>
							<key>parameterID</key>
							<integer>47</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Peak Gain</string>
							<key>parameterID</key>
							<integer>48</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Low Peak Q</string>
							<key>parameterID</key>
							<integer>49</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Peak</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>High Peak On/Off</string>
						<key>parameterID</key>
						<integer>50</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>High Peak Freq</string>
							<key>parameterID</key>
							<integer>51</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Peak Gain</string>
							<key>parameterID</key>
							<integer>52</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Peak Q</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Shelf</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>High Shelf On/Off</string>
						<key>parameterID</key>
						<integer>54</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>High Shelf Freq</string>
							<key>parameterID</key>
							<integer>55</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Shelf Gain</string>
							<key>parameterID</key>
							<integer>56</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Shelf Q</string>
							<key>parameterID</key>
							<integer>57</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>High Cut</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>High Cut On/Off</string>
						<key>parameterID</key>
						<integer>58</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>High Cut Freq</string>
							<key>parameterID</key>
							<integer>59</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Cut Order</string>
							<key>parameterID</key>
							<integer>60</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>High Cut Q</string>
							<key>parameterID</key>
							<integer>61</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName &lt;hidden&gt;</key>
		<string>Maybe Hide</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Animation On/Off</string>
					<key>parameterID</key>
					<integer>63</integer>
					<key>preferredControlType</key>
					<string>toggle</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
