<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Tap Add / Remove</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Add Tap</string>
							<key>parameterID</key>
							<integer>17</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Delete Tap</string>
							<key>parameterID</key>
							<integer>18</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tap Record</string>
						<key>parameterID</key>
						<integer>1</integer>
						<key>preferredControlType</key>
						<string>button</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Last Tap</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>button</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Tap Edit</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Select</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tap By Name</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tap By Time</string>
							<key>parameterID</key>
							<integer>23</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tap Mute</string>
							<key>parameterID</key>
							<integer>679</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Delay Time / Level</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tap Time</string>
						<key>parameterID</key>
						<integer>676</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Tap Level</string>
						<key>parameterID</key>
						<integer>678</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Pan</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Pan Amount</string>
							<key>parameterID</key>
							<integer>680</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pan Flip Left/Right</string>
							<key>parameterID</key>
							<integer>687</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Pan Stereo Spread</string>
						<key>parameterID</key>
						<integer>681</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Filter</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Filter Enable</string>
							<key>parameterID</key>
							<integer>691</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Filter Slope</string>
							<key>parameterID</key>
							<integer>693</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Filter HighPass Freq</string>
						<key>parameterID</key>
						<integer>689</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Filter LowPass Freq</string>
						<key>parameterID</key>
						<integer>690</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Filter Resonance</string>
						<key>parameterID</key>
						<integer>692</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Pitch</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Pitch Transpose</string>
							<key>parameterID</key>
							<integer>694</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pitch Enable</string>
							<key>parameterID</key>
							<integer>695</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Feedback</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Feedback Enable</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Feedback Tap</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Feedback Amount</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Sync To Tempo</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Grid</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Swing</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Dry</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Wet</string>
						<key>parameterID</key>
						<integer>10</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
