<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Modulator</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Modulator Harmonic</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Modulator Fine</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Mod Env Modulator Pitch Amount</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Modulator Wave</string>
					<key>parameterID</key>
					<integer>21</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Carrier</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Carrier Harmonic</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Carrier Fine</string>
							<key>parameterID</key>
							<integer>12</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Carrier Fixed Freq</string>
							<key>parameterID</key>
							<integer>16</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>FM</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Carrier FM Intensity</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Mod Env FM Amount</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Carrier Stereo Detune</string>
					<key>parameterID</key>
					<integer>14</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Sub Osc Level</string>
					<key>parameterID</key>
					<integer>25</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Main Level</string>
					<key>parameterID</key>
					<integer>6</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>LFO Rate</string>
					<key>parameterID</key>
					<integer>49</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>LFO Amount</string>
					<key>parameterID</key>
					<integer>54</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Envelope</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Mod Attack</string>
					<key>parameterID</key>
					<integer>30</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mod Decay</string>
					<key>parameterID</key>
					<integer>32</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mod Sustain</string>
					<key>parameterID</key>
					<integer>33</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mod Release</string>
					<key>parameterID</key>
					<integer>34</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Vol Attack</string>
					<key>parameterID</key>
					<integer>41</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vol Decay</string>
					<key>parameterID</key>
					<integer>43</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vol Sustain</string>
					<key>parameterID</key>
					<integer>44</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Vol Release</string>
					<key>parameterID</key>
					<integer>45</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
		<key>sectionName</key>
		<string>Volume Envelope</string>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tune</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Transpose</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Glide</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Voices</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Unison</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Main Pitch Bend Range</string>
						<key>parameterID</key>
						<integer>69</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Velocity Sensivity</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Randomize</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Randomize Intensity</string>
							<key>parameterID</key>
							<integer>58</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Randomize Trigger</string>
							<key>parameterID</key>
							<integer>59</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>MIDI Controller</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Ctrl FM Amount</string>
							<key>parameterID</key>
							<integer>64</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ctrl FM</string>
							<key>parameterID</key>
							<integer>63</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Ctrl Vibrato Amount</string>
							<key>parameterID</key>
							<integer>66</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ctrl Vibrato</string>
							<key>parameterID</key>
							<integer>65</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Mono Mode Pitch Range</string>
							<key>parameterID</key>
							<integer>68</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>MIDI Mono Mode</string>
							<key>parameterID</key>
							<integer>67</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
