<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Oscillator</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tune</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Octave</string>
							<key>parameterID</key>
							<integer>1</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Triangle</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Sawtooth</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Rectangle</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>-1 Octave</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>-2 Octaves</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Noise</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filter</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Cutoff</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Resonance</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Keytrack</string>
							<key>parameterID</key>
							<integer>10</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>ADSR Int</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Velo Filter</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Amp</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Volume</string>
							<key>parameterID</key>
							<integer>21</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Velo Volume</string>
							<key>parameterID</key>
							<integer>13</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VCA Mode</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>LFO Speed</string>
						<key>parameterID</key>
						<integer>22</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Vibrato/Wah</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Attack</string>
						<key>parameterID</key>
						<integer>15</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Decay</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Sustain</string>
						<key>parameterID</key>
						<integer>17</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Release</string>
						<key>parameterID</key>
						<integer>18</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Effects</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Overdrive</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Chorus</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Pitch Bend Range</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Pos. Bender Range</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Neg. Bender Range</string>
						<key>parameterID</key>
						<integer>25</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
