<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Oscillator 1</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Osc 1 on/off</string>
			<key>parameterID</key>
			<real>11</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Osc1 Semi</string>
					<key>parameterID</key>
					<integer>12</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Osc1 Detune</string>
					<key>parameterID</key>
					<integer>13</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Osc1 Wave</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Osc1 DigiWave</string>
						<key>parameterID</key>
						<integer>15</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Oscillator 2</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Osc 2 on/off</string>
			<key>parameterID</key>
			<real>16</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Osc2 Semi</string>
					<key>parameterID</key>
					<integer>17</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Osc2 Detune</string>
					<key>parameterID</key>
					<integer>18</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Osc2 Wave</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Osc2 DigiWave</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Oscillator 3</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Osc 3 on/off</string>
			<key>parameterID</key>
			<real>21</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Osc3 Semi</string>
					<key>parameterID</key>
					<integer>22</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Osc3 Detune</string>
					<key>parameterID</key>
					<integer>23</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Osc3 Wave</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Osc3 DigiWave</string>
						<key>parameterID</key>
						<integer>25</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Osc Mix (fix - work in progress)</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>subGroupType</key>
						<string>xyPad</string>
						<key>parameters</key>
						<array>
							<dict>
								<key>name</key>
								<string>OscLevelX</string>
								<key>parameterID</key>
								<integer>26</integer>
								<key>preferredControlType</key>
								<string>slider</string>
							</dict>
							<dict>
								<key>name</key>
								<string>OscLevelY</string>
								<key>parameterID</key>
								<integer>27</integer>
								<key>preferredControlType</key>
								<string>slider</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Dual Filter</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Filter 1</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Filter on/off</string>
						<key>parameterID</key>
						<real>115</real>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>MMF Cutoff</string>
							<key>parameterID</key>
							<integer>32</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>MMF Resonance</string>
							<key>parameterID</key>
							<integer>33</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>MMF Mode</string>
							<key>parameterID</key>
							<integer>31</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Routing</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Drive</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FilterBlend</string>
							<key>parameterID</key>
							<integer>30</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Filter Struct</string>
							<key>parameterID</key>
							<integer>29</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Filter 2</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LPF Cutoff</string>
							<key>parameterID</key>
							<integer>36</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LPF Resonance</string>
							<key>parameterID</key>
							<integer>37</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LPF Mode</string>
							<key>parameterID</key>
							<integer>34</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Fatness</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LPF FM</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Sine Level</string>
					<key>parameterID</key>
					<integer>39</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Volume</string>
					<key>parameterID</key>
					<integer>40</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Distortion</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>FX Dist Gain</string>
							<key>parameterID</key>
							<integer>117</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FX Dist Tone</string>
							<key>parameterID</key>
							<integer>118</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FX Dist Type</string>
							<key>parameterID</key>
							<integer>116</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Modulation FX</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>FX Mod Intensity</string>
							<key>parameterID</key>
							<integer>121</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FX Mod Rate</string>
							<key>parameterID</key>
							<integer>120</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FX Mod Type</string>
							<key>parameterID</key>
							<integer>119</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO 1</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>LFO1 EG</string>
						<key>parameterID</key>
						<integer>93</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>LFO1 Rate</string>
							<key>parameterID</key>
							<integer>92</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO1 Waveform</string>
							<key>parameterID</key>
							<integer>91</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO 2</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO2 Rate</string>
							<key>parameterID</key>
							<integer>95</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO2 Waveform</string>
							<key>parameterID</key>
							<integer>94</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope 1</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env1 Attack127</string>
						<key>parameterID</key>
						<integer>99</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env1 Attack0</string>
						<key>parameterID</key>
						<integer>98</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env1 Dec/Rel</string>
						<key>parameterID</key>
						<integer>100</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Env1 Mode</string>
							<key>parameterID</key>
							<integer>96</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Env1 Trigger</string>
							<key>parameterID</key>
							<integer>97</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope 2</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env2 Attack127</string>
						<key>parameterID</key>
						<integer>102</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env2 Attack0</string>
						<key>parameterID</key>
						<integer>101</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env2 Decay</string>
						<key>parameterID</key>
						<integer>103</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env2 Sustain</string>
						<key>parameterID</key>
						<integer>105</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env2 SusTime</string>
						<key>parameterID</key>
						<integer>104</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env2 Release</string>
						<key>parameterID</key>
						<integer>106</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Env2 VeloLevel</string>
					<key>parameterID</key>
					<integer>107</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope 3 - Amp</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env3 Attack127</string>
						<key>parameterID</key>
						<integer>109</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env3 Attack0</string>
						<key>parameterID</key>
						<integer>108</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env3 Decay</string>
						<key>parameterID</key>
						<integer>110</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env3 Sustain</string>
						<key>parameterID</key>
						<integer>112</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env3 SusTime</string>
						<key>parameterID</key>
						<integer>111</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env3 Release</string>
						<key>parameterID</key>
						<integer>113</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Env3 VeloLevel</string>
					<key>parameterID</key>
					<integer>114</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Pad</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>subGroupType</key>
					<string>xyPad</string>
					<key>parameters</key>
					<array>
						<dict>
							<key>name</key>
							<string>X</string>
							<key>parameterID</key>
							<real>122</real>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Y</string>
							<key>parameterID</key>
							<real>123</real>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tune</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Glide</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Keyboard Mode</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Bender Range Up</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bender Range Down</string>
						<key>parameterID</key>
						<integer>167</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Osc Settings</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Voices</string>
							<key>parameterID</key>
							<integer>1</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Unison</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Analog</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Const. Beat</string>
						<key>parameterID</key>
						<integer>10</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Filter Reset</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Osc Start</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 1</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>147</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R0 Source</string>
							<key>parameterID</key>
							<integer>42</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R0 Target</string>
							<key>parameterID</key>
							<integer>41</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R0 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>44</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R0 Intensity Via</string>
						<key>parameterID</key>
						<integer>45</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>subGroupType</key>
						<string>dualSlider</string>
						<key>parameters</key>
						<array/>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R0 Via</string>
							<key>parameterID</key>
							<integer>43</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R0 ViaInvert</string>
							<key>parameterID</key>
							<integer>148</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 2</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>149</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R1 Source</string>
							<key>parameterID</key>
							<integer>47</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R1 Target</string>
							<key>parameterID</key>
							<integer>46</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R1 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>49</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R1 Intensity Via</string>
						<key>parameterID</key>
						<integer>50</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R1 Via</string>
							<key>parameterID</key>
							<integer>48</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R1 ViaInvert</string>
							<key>parameterID</key>
							<integer>150</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 3</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>151</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R2 Source</string>
							<key>parameterID</key>
							<integer>52</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R2 Target</string>
							<key>parameterID</key>
							<integer>51</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R2 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>54</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R2 Intensity Via</string>
						<key>parameterID</key>
						<integer>55</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R2 Via</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R2 ViaInvert</string>
							<key>parameterID</key>
							<integer>152</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 4</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>153</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R3 Source</string>
							<key>parameterID</key>
							<integer>57</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R3 Target</string>
							<key>parameterID</key>
							<integer>56</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R3 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>59</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R3 Intensity Via</string>
						<key>parameterID</key>
						<integer>60</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R3 Via</string>
							<key>parameterID</key>
							<integer>58</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R3 ViaInvert</string>
							<key>parameterID</key>
							<integer>154</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 5</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>155</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R4 Source</string>
							<key>parameterID</key>
							<integer>62</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R4 Target</string>
							<key>parameterID</key>
							<integer>61</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R4 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>64</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R4 Intensity Via</string>
						<key>parameterID</key>
						<integer>65</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R4 Via</string>
							<key>parameterID</key>
							<integer>63</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R4 ViaInvert</string>
							<key>parameterID</key>
							<integer>156</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 6</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>157</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R5 Source</string>
							<key>parameterID</key>
							<integer>67</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R5 Target</string>
							<key>parameterID</key>
							<integer>66</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R5 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>69</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R5 Intensity Via</string>
						<key>parameterID</key>
						<integer>70</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R5 Via</string>
							<key>parameterID</key>
							<integer>68</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R5 ViaInvert</string>
							<key>parameterID</key>
							<integer>158</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 7</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>159</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R6 Source</string>
							<key>parameterID</key>
							<integer>72</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R6 Target</string>
							<key>parameterID</key>
							<integer>71</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R6 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>74</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R6 Intensity Via</string>
						<key>parameterID</key>
						<integer>75</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R6 Via</string>
							<key>parameterID</key>
							<integer>73</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R6 ViaInvert</string>
							<key>parameterID</key>
							<integer>160</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 8</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>161</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R7 Source</string>
							<key>parameterID</key>
							<integer>77</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R7 Target</string>
							<key>parameterID</key>
							<integer>76</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R7 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>79</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R7 Intensity Via</string>
						<key>parameterID</key>
						<integer>80</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R7 Via</string>
							<key>parameterID</key>
							<integer>78</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R7 ViaInvert</string>
							<key>parameterID</key>
							<integer>162</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 9</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>163</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Slot 9</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R8 Source</string>
							<key>parameterID</key>
							<integer>82</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R8 Target</string>
							<key>parameterID</key>
							<integer>81</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R8 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>84</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R8 Intensity Via</string>
						<key>parameterID</key>
						<integer>85</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R8 Via</string>
							<key>parameterID</key>
							<integer>83</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R8 ViaInvert</string>
							<key>parameterID</key>
							<integer>164</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Mod Matrix Slot 10</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string></string>
			<key>parameterID</key>
			<real>165</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Slot 10</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>R9 Source</string>
							<key>parameterID</key>
							<integer>87</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R9 Target</string>
							<key>parameterID</key>
							<integer>86</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>R9 Intensity Fixed</string>
						<key>parameterID</key>
						<integer>89</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>R9 Intensity Via</string>
						<key>parameterID</key>
						<integer>90</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>R9 Via</string>
							<key>parameterID</key>
							<integer>88</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>R9 ViaInvert</string>
							<key>parameterID</key>
							<integer>166</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Vector Envelope</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Vector Mode</string>
						<key>parameterID</key>
						<integer>142</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Vector Envelope Context Menu</string>
							<key>parameterID</key>
							<integer>313</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VecEnv PointSolo</string>
							<key>parameterID</key>
							<integer>134</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>VecEnv SelectPoint</string>
						<key>parameterID</key>
						<integer>133</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>VecEnv Time</string>
						<key>parameterID</key>
						<integer>129</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>VecEnv SustainSeg</string>
						<key>parameterID</key>
						<integer>136</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>VecEnv LoopSeg</string>
						<key>parameterID</key>
						<integer>140</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>VecEnv EndSegment</string>
							<key>parameterID</key>
							<integer>135</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>VecEnv Curve</string>
							<key>parameterID</key>
							<integer>168</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VecEnv StopMode</string>
							<key>parameterID</key>
							<integer>137</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>VecEnv TimeScale</string>
							<key>parameterID</key>
							<integer>128</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VecEnv FixTimeScl</string>
							<key>parameterID</key>
							<integer>141</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Vector Loop</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>VecEnv LoopCount</string>
							<key>parameterID</key>
							<integer>139</integer>
							<key>preferredControlType</key>
							<string>slider</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>VecEnv LoopSmooth</string>
							<key>parameterID</key>
							<integer>131</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VecEnv LoopRate</string>
							<key>parameterID</key>
							<integer>132</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>VecEnv LoopMode</string>
							<key>parameterID</key>
							<integer>138</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<array/>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Pad</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Vector X Target</string>
							<key>parameterID</key>
							<integer>124</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vector Y Target</string>
							<key>parameterID</key>
							<integer>126</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>subGroupType</key>
						<string>xyPad</string>
						<key>parameters</key>
						<array>
							<dict>
								<key>name</key>
								<string>Vector X Amount</string>
								<key>parameterID</key>
								<integer>125</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
							<dict>
								<key>name</key>
								<string>Vector Y Amount</string>
								<key>parameterID</key>
								<integer>127</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Macro Controls</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Macro Tuning</string>
					<key>parameterID</key>
					<integer>303</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macro Wave</string>
					<key>parameterID</key>
					<integer>304</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Macro Cutoff</string>
					<key>parameterID</key>
					<integer>300</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macro Resonance</string>
					<key>parameterID</key>
					<integer>301</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Macro ModDepth</string>
					<key>parameterID</key>
					<integer>302</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Macro Attack</string>
					<key>parameterID</key>
					<integer>305</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macro Decay</string>
					<key>parameterID</key>
					<integer>306</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macro Sustain</string>
					<key>parameterID</key>
					<integer>307</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Macro Release</string>
					<key>parameterID</key>
					<integer>308</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Controller Assingments</string>
		<key>groups</key>
		<array>
			<array>
				<array>
					<dict>
						<key>name</key>
						<string>Ctrl A Assign</string>
						<key>parameterID</key>
						<integer>169</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Ctrl B Assign</string>
						<key>parameterID</key>
						<integer>170</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>name</key>
						<string>Ctrl C Assign</string>
						<key>parameterID</key>
						<integer>171</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Ctrl D Assign</string>
						<key>parameterID</key>
						<integer>172</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
				<array>
					<dict>
						<key>name</key>
						<string>Ctrl E Assign</string>
						<key>parameterID</key>
						<integer>173</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Ctrl F Assign</string>
						<key>parameterID</key>
						<integer>174</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>MIDI Mono Mode (MPE)</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Mono Mode Pitch Range</string>
					<key>parameterID</key>
					<integer>311</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>MIDI Mono Mode</string>
					<key>parameterID</key>
					<integer>310</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
