<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Analysis</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Attack</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Release</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Freeze</string>
							<key>parameterID</key>
							<integer>13</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Synthesis</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Oscillators</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Osc 1 Wave</string>
							<key>parameterID</key>
							<integer>31</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Osc 2 Wave</string>
							<key>parameterID</key>
							<integer>32</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Synthesis</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Tuning | FM</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Ratio Coarse</string>
							<key>parameterID</key>
							<integer>30</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ratio Fine</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Osc1 Octave</string>
							<key>parameterID</key>
							<integer>27</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Osc Mix / Fmint</string>
						<key>parameterID</key>
						<integer>37</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Noise</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Noise Color</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Noise Volume</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Filter</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Cutoff</string>
						<key>parameterID</key>
						<integer>33</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Resonance</string>
						<key>parameterID</key>
						<integer>34</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Amp</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>ENV Attack</string>
						<key>parameterID</key>
						<integer>43</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>ENV Release</string>
						<key>parameterID</key>
						<integer>44</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Vibrato LFO</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO Rate</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Waveform</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Min. Vibrato</string>
						<key>parameterID</key>
						<integer>41</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Max. Vibrato</string>
						<key>parameterID</key>
						<integer>42</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filterbank</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Bands</string>
						<key>parameterID</key>
						<integer>1</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Low Frequency</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LowBand Mode</string>
							<key>parameterID</key>
							<integer>10</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>High Frequency</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>HiBand Mode</string>
							<key>parameterID</key>
							<integer>11</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Resonance</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Formant Stretch</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Formant Shift</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Formant Shift LFO</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO2 Rate</string>
							<key>parameterID</key>
							<integer>39</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO2 Waveform</string>
							<key>parameterID</key>
							<integer>40</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>LFO -&gt; Formant</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>U/V Sensivity</string>
							<key>parameterID</key>
							<integer>18</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>U/V Source</string>
							<key>parameterID</key>
							<integer>17</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>U/V Level</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Output Level</string>
							<key>parameterID</key>
							<integer>47</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Stereo</string>
							<key>parameterID</key>
							<integer>16</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Out</string>
							<key>parameterID</key>
							<integer>46</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Ensemble</string>
						<key>parameterID</key>
						<integer>48</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Voices</string>
							<key>parameterID</key>
							<integer>20</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Unison</string>
							<key>parameterID</key>
							<integer>45</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Tune</string>
							<key>parameterID</key>
							<integer>21</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Analog</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Kybd Mode</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Glide</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bender Range</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
