<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Filter Bank Settings</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Bands</string>
						<key>parameterID</key>
						<integer>22</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Low Frequency</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LowBand Mode</string>
							<key>parameterID</key>
							<integer>56</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>High Frequency</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>HiBand Mode</string>
							<key>parameterID</key>
							<integer>57</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Resonance</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Slope</string>
							<key>parameterID</key>
							<integer>29</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Formant</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Formant Shift</string>
					<key>parameterID</key>
					<integer>27</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string>Modulation</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO1 Rate</string>
							<key>parameterID</key>
							<integer>30</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Waveform</string>
							<key>parameterID</key>
							<integer>31</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>LFO -&gt; Formant</string>
						<key>parameterID</key>
						<integer>32</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filter Bank Crossfade</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>BoostA</string>
						<key>parameterID</key>
						<integer>21</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>BoostB</string>
						<key>parameterID</key>
						<integer>53</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level A&lt;&gt;B</string>
						<key>parameterID</key>
						<integer>54</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Modulation</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO2 Rate</string>
							<key>parameterID</key>
							<integer>58</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Waveform</string>
							<key>parameterID</key>
							<integer>59</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>LFO -&gt; Xfade</string>
						<key>parameterID</key>
						<integer>60</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Distortion</string>
						<key>parameterID</key>
						<integer>55</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Stereo</string>
							<key>parameterID</key>
							<integer>23</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Stereo Mode</string>
							<key>parameterID</key>
							<integer>24</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Output Level</string>
						<key>parameterID</key>
						<integer>61</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filter Bank A</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level  1 A</string>
						<key>parameterID</key>
						<integer>1</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  2 A</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  3 A</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  4 A</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  5 A</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level  6 A</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  7 A</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  8 A</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  9 A</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 10 A</string>
						<key>parameterID</key>
						<integer>10</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level 11 A</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 12 A</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 13 A</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 14 A</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 15 A</string>
						<key>parameterID</key>
						<integer>15</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level 16 A</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 17 A</string>
						<key>parameterID</key>
						<integer>17</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 18 A</string>
						<key>parameterID</key>
						<integer>18</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 19 A</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 20 A</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filter Bank B</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level  1 B</string>
						<key>parameterID</key>
						<integer>33</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  2 B</string>
						<key>parameterID</key>
						<integer>34</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  3 B</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  4 B</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  5 B</string>
						<key>parameterID</key>
						<integer>37</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level  6 B</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  7 B</string>
						<key>parameterID</key>
						<integer>39</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  8 B</string>
						<key>parameterID</key>
						<integer>40</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level  9 B</string>
						<key>parameterID</key>
						<integer>41</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 10 B</string>
						<key>parameterID</key>
						<integer>42</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level 11 B</string>
						<key>parameterID</key>
						<integer>43</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 12 B</string>
						<key>parameterID</key>
						<integer>44</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 13 B</string>
						<key>parameterID</key>
						<integer>45</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 14 B</string>
						<key>parameterID</key>
						<integer>46</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 15 B</string>
						<key>parameterID</key>
						<integer>47</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Level 16 B</string>
						<key>parameterID</key>
						<integer>48</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 17 B</string>
						<key>parameterID</key>
						<integer>49</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 18 B</string>
						<key>parameterID</key>
						<integer>50</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 19 B</string>
						<key>parameterID</key>
						<integer>51</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Level 20 B</string>
						<key>parameterID</key>
						<integer>52</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
