<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Input</string>
					<key>syncValueID</key>
					<real>0</real>
					<key>preferredControlType</key>
					<string>levelMeter</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Expansion</string>
					<key>syncValueID</key>
					<real>2</real>
					<key>preferredControlType</key>
					<string>levelMeter</string>
				</dict>
				<array>
					<dict>
						<key>name</key>
						<string>Output</string>
						<key>syncValueID</key>
						<real>1</real>
						<key>preferredControlType</key>
						<string>levelMeter</string>
					</dict>
				</array>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Threshold</string>
							<key>parameterID</key>
							<integer>1</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ratio</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Peak/RMS</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Softknee</string>
					<key>parameterID</key>
					<integer>6</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Attack</string>
					<key>parameterID</key>
					<integer>3</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Release</string>
					<key>parameterID</key>
					<integer>4</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Auto Gain</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Output Clip</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Gain</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
