<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>activityValue</key>
		<dict>
			<key>name</key>
			<string>Activity</string>
			<key>syncValueID</key>
			<real>0</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Semitone</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Detune</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mode</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tonality</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>NoteOff Damp</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>subGroupType</key>
						<string>dualSlider</string>
						<key>parameters</key>
						<array>
							<dict>
								<key>name</key>
								<string>Level Min Vel</string>
								<key>parameterID</key>
								<integer>8</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
							<dict>
								<key>name</key>
								<string>Level</string>
								<key>parameterID</key>
								<integer>1</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
