<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Oscillators</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Oscillator Type</string>
					<key>parameterID</key>
					<integer>202</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Wavetables</string>
							<key>parameterID</key>
							<integer>905</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Reverse Wavetable Order</string>
							<key>parameterID</key>
							<integer>911</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Osc 1</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Oscillator 1 Waveform</string>
							<key>parameterID</key>
							<integer>302</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 1 Waveform</string>
							<key>parameterID</key>
							<integer>310</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 1 Shape</string>
							<key>parameterID</key>
							<integer>303</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 1 Shape</string>
							<key>parameterID</key>
							<integer>311</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 1 Shape</string>
							<key>parameterID</key>
							<integer>306</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Osc 2</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Oscillator 2 Waveform</string>
							<key>parameterID</key>
							<integer>304</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 2 Waveform</string>
							<key>parameterID</key>
							<integer>312</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 2 Shape</string>
							<key>parameterID</key>
							<integer>305</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 2 Shape</string>
							<key>parameterID</key>
							<integer>313</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Oscillator 2 Shape</string>
							<key>parameterID</key>
							<integer>307</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Oscillator 2 Sync</string>
						<key>parameterID</key>
						<integer>314</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Oscillator 2 Semitone</string>
						<key>parameterID</key>
						<integer>308</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Oscillator 2 Detune</string>
						<key>parameterID</key>
						<integer>309</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>FM Intensity</string>
					<key>parameterID</key>
					<integer>315</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FM Harmonic</string>
					<key>parameterID</key>
					<integer>316</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FM Inharmonic</string>
					<key>parameterID</key>
					<integer>317</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>FM Shape</string>
					<key>parameterID</key>
					<integer>318</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string>Modulation</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Oscillator Shape by LFO/Env</string>
							<key>parameterID</key>
							<integer>209</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Osc Env/LFO Target</string>
							<key>parameterID</key>
							<integer>319</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Osc Env/LFO Target</string>
							<key>parameterID</key>
							<integer>320</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Vibrato Depth</string>
						<key>parameterID</key>
						<integer>203</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Table Details</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Wavetable Action</string>
							<key>parameterID</key>
							<integer>906</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Audio File Analysis</string>
							<key>parameterID</key>
							<integer>907</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Out</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Oscillator Mix</string>
						<key>parameterID</key>
						<integer>210</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Glide | Bend</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Glide|Bend</string>
			<key>parameterID</key>
			<real>204</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Glide/AB Type</string>
							<key>parameterID</key>
							<integer>205</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Glide/AB Time</string>
							<key>parameterID</key>
							<integer>208</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Glide/AB Mode</string>
							<key>parameterID</key>
							<integer>206</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Autobend Depth</string>
							<key>parameterID</key>
							<integer>207</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Filter</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>filter on/off button</string>
			<key>parameterID</key>
			<integer>402</integer>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<array>
					<dict>
						<key>name</key>
						<string>Cutoff</string>
						<key>parameterID</key>
						<integer>404</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Resonance</string>
						<key>parameterID</key>
						<integer>405</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Filter Type</string>
						<key>parameterID</key>
						<integer>403</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Filter FM / Drive</string>
					<key>parameterID</key>
					<integer>409</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Filter Key Track</string>
					<key>parameterID</key>
					<integer>406</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string>Modulation</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Cutoff by LFO</string>
						<key>parameterID</key>
						<integer>407</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Cutoff by Env</string>
						<key>parameterID</key>
						<integer>408</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Amp</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Sine Level</string>
					<key>parameterID</key>
					<integer>211</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Output Volume</string>
					<key>parameterID</key>
					<integer>6</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Effect</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>effect on/off button</string>
			<key>parameterID</key>
			<real>502</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<array>
					<dict>
						<key>name</key>
						<string>Effect Rate</string>
						<key>parameterID</key>
						<integer>506</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Effect Intensity</string>
						<key>parameterID</key>
						<integer>505</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Effects Type</string>
						<key>parameterID</key>
						<integer>503</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>ADSR - Filter</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Filter Env Attack</string>
					<key>parameterID</key>
					<integer>703</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Filter Env Decay</string>
					<key>parameterID</key>
					<integer>704</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Filter Env Sustain</string>
					<key>parameterID</key>
					<integer>705</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Filter Env Release</string>
					<key>parameterID</key>
					<integer>706</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Filter Env Velocity</string>
					<key>parameterID</key>
					<integer>707</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>ADSR - Amp</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Amp Env Attack</string>
					<key>parameterID</key>
					<integer>803</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amp Env Decay</string>
					<key>parameterID</key>
					<integer>804</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amp Env Sustain</string>
					<key>parameterID</key>
					<integer>805</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amp Env Release</string>
					<key>parameterID</key>
					<integer>806</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Amp Env Velocity</string>
					<key>parameterID</key>
					<integer>807</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>LFO Wave</string>
						<key>parameterID</key>
						<integer>603</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>LFO Rate</string>
							<key>parameterID</key>
							<integer>605</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Sync</string>
							<key>parameterID</key>
							<integer>604</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO Via Amount</string>
							<key>parameterID</key>
							<integer>607</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Via Source</string>
							<key>parameterID</key>
							<integer>606</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Vibrato</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Vibrato Wave</string>
						<key>parameterID</key>
						<integer>653</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Vibrato Rate</string>
							<key>parameterID</key>
							<integer>655</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vibrato Sync</string>
							<key>parameterID</key>
							<integer>654</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Vibrato Via Amount</string>
							<key>parameterID</key>
							<integer>657</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vibrato Via Source</string>
							<key>parameterID</key>
							<integer>656</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tune</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Transpose</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Pitchbend Range</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Polyphony</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Unison</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Voice Detune</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Stereo Spread</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>MIDI Mono Mode</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mono Mode Pitch Range</string>
							<key>parameterID</key>
							<integer>10</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Controller Modulation</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>ModWheel Mod Amount</string>
							<key>parameterID</key>
							<integer>106</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>ModWheel to</string>
							<key>parameterID</key>
							<integer>105</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Velocity Mod Amount</string>
							<key>parameterID</key>
							<integer>104</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Velocity to</string>
							<key>parameterID</key>
							<integer>103</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Aftertouch Mod Amount</string>
							<key>parameterID</key>
							<integer>108</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Aftertouch to</string>
							<key>parameterID</key>
							<integer>107</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Ctrl X Mod Amount</string>
							<key>parameterID</key>
							<integer>112</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Ctrl X to</string>
							<key>parameterID</key>
							<integer>111</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Ctrl X Source</string>
						<key>parameterID</key>
						<integer>110</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
