<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Oscillator</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Operating Mode</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Freq. Shift Mode</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Frequency</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Frequency Modulatio</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env-&gt;Osc Modulation</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LFO-&gt;Osc Modulation</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Delay</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Delay Time</string>
							<key>parameterID</key>
							<integer>29</integer>
							<key>preferredControlType</key>
							<string>largeKnob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Delay Sync</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Feedback</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Delay Amount</string>
						<key>parameterID</key>
						<integer>27</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Filter</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>subGroupType</key>
						<string>dualSlider</string>
						<key>parameters</key>
						<array>
							<dict>
								<key>name</key>
								<string>Delay Low Cut</string>
								<key>parameterID</key>
								<integer>30</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
							<dict>
								<key>name</key>
								<string>Delay High Cut</string>
								<key>parameterID</key>
								<integer>31</integer>
								<key>preferredControlType</key>
								<string>knob</string>
							</dict>
						</array>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Dry/Wet</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Stereo Width</string>
						<key>parameterID</key>
						<integer>10</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Modulation</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env-&gt;Dry/Wet Modulation</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LFO-&gt;Dry/Wet Modulation</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Envelope Follower</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>16</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env Sensivity</string>
						<key>parameterID</key>
						<integer>17</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env Attack</string>
						<key>parameterID</key>
						<integer>18</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env Release</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>LFO</string>
		<key>onOffParameter</key>
		<dict>
			<key>parameterID</key>
			<real>21</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>LFO Rate</string>
							<key>parameterID</key>
							<integer>23</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LFO Sync</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>LFO Symmetry</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LFO Smooth</string>
						<key>parameterID</key>
						<integer>25</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
