<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Left Delay</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Input Left</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Note Left</string>
							<key>parameterID</key>
							<integer>12</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Deviation Left</string>
							<key>parameterID</key>
							<integer>13</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Double Time Left</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Halve Time Left</string>
							<key>parameterID</key>
							<integer>52</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Sync Time Left</string>
						<key>parameterID</key>
						<integer>56</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Delay Time Left</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Low Cut Left</string>
					<key>parameterID</key>
					<integer>24</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>High Cut Left</string>
					<key>parameterID</key>
					<integer>23</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Feedback Left</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FB Phase Left</string>
							<key>parameterID</key>
							<integer>18</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Crossfeed L-&gt;R</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FB Phase L-&gt;R</string>
							<key>parameterID</key>
							<integer>20</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Right Delay</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Input Right</string>
						<key>parameterID</key>
						<integer>17</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Note Right</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Deviation Right</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Double Time Right</string>
							<key>parameterID</key>
							<integer>55</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Halve Time Right</string>
							<key>parameterID</key>
							<integer>54</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Sync Time Right</string>
						<key>parameterID</key>
						<integer>57</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Delay Time Right</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>High Cut Right</string>
					<key>parameterID</key>
					<integer>25</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Low Cut Right</string>
					<key>parameterID</key>
					<integer>26</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Feedback Right</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FB Phase Right</string>
							<key>parameterID</key>
							<integer>19</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Crossfeed R-&gt;L</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FB Phase R-&gt;L</string>
							<key>parameterID</key>
							<integer>21</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Routing Preset</string>
					<key>parameterID</key>
					<integer>59</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
				<array>
					<dict>
						<key>name</key>
						<string>Beat Sync</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Stereo Link</string>
						<key>parameterID</key>
						<integer>27</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
				</array>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output Mix</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Mix Left</string>
					<key>parameterID</key>
					<integer>1</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Mix Right</string>
					<key>parameterID</key>
					<integer>2</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
