<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Instrument</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Instrument</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Monophonic</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dynamics via CC</string>
							<key>parameterID</key>
							<integer>28</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Last Played Articulation</string>
							<key>parameterID</key>
							<integer>21</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Cutoff</string>
						<key>parameterID</key>
						<integer>34</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Resonance</string>
						<key>parameterID</key>
						<integer>35</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Key Clicks</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Humanize</string>
						<key>parameterID</key>
						<integer>31</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Env. Attack</string>
						<key>parameterID</key>
						<integer>32</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Env. Release</string>
						<key>parameterID</key>
						<integer>33</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Volume</string>
						<key>parameterID</key>
						<integer>36</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array/>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array/>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Details</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Vibrato Controller</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Manual Vibrato Mode</string>
							<key>parameterID</key>
							<integer>26</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Dynamic Controller</string>
							<key>parameterID</key>
							<integer>29</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dynamic Controller Mode</string>
							<key>parameterID</key>
							<integer>30</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Legato Transitions</string>
							<key>parameterID</key>
							<integer>37</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extended Keyrange</string>
							<key>parameterID</key>
							<integer>54</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Release Samples</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Pitch Bend Range</string>
						<key>parameterID</key>
						<integer>39</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Allow Unison</string>
							<key>parameterID</key>
							<integer>41</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Inst via MIDI Channel</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Split Voicing</string>
						<key>parameterID</key>
						<integer>42</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Split Mode</string>
							<key>parameterID</key>
							<integer>43</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Split Key</string>
							<key>parameterID</key>
							<integer>44</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Split Key</string>
							<key>parameterID</key>
							<integer>45</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName &lt;hide&gt;</key>
		<string>Auto Voice Split</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Output Volume</string>
						<key>parameterID</key>
						<integer>46</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Amount 9</string>
						<key>parameterID</key>
						<integer>47</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Random Detune</string>
						<key>parameterID</key>
						<integer>48</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Pitch Bend Up</string>
						<key>parameterID</key>
						<integer>49</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Pitch Bend Down</string>
						<key>parameterID</key>
						<integer>50</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Resonance</string>
						<key>parameterID</key>
						<integer>51</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Select: EXS:Cutoff</string>
						<key>parameterID</key>
						<integer>52</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Auto Voice Split</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Auto Vibrato</string>
						<key>parameterID</key>
						<integer>27</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>MIDI Processor</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>readout</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
