<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string></string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Ratio Low</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Center Low</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bandwidth Low</string>
						<key>parameterID</key>
						<integer>8</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Ratio High</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Center High</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bandwidth High</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Freq. Mix</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Dry</string>
						<key>parameterID</key>
						<integer>1</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Wet</string>
						<key>parameterID</key>
						<integer>9</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
