<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Delay</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Sync To Tempo</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Note</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Deviation</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>readout</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Double Time</string>
							<key>parameterID</key>
							<integer>53</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Halve Time</string>
							<key>parameterID</key>
							<integer>52</integer>
							<key>preferredControlType</key>
							<string>button</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Sync Time</string>
						<key>parameterID</key>
						<integer>54</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Delay Time</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Smooth</string>
					<key>parameterID</key>
					<integer>10</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Character</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Clip Threshold</string>
							<key>parameterID</key>
							<integer>22</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Stereo Spread</string>
							<key>parameterID</key>
							<integer>24</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Head Mode</string>
							<key>parameterID</key>
							<integer>25</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Low Cut</string>
					<key>parameterID</key>
					<integer>6</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>High Cut</string>
					<key>parameterID</key>
					<integer>5</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Feedback</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Feedback</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Freeze</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Modulation</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Wow</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>LFO Rate</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>LFO Depth</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Flutter</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Flutter Rate</string>
						<key>parameterID</key>
						<integer>11</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Flutter Intensity</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Output</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Dry</string>
					<key>parameterID</key>
					<integer>20</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Wet</string>
					<key>parameterID</key>
					<integer>21</integer>
					<key>preferredControlType</key>
					<string>slider</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
