<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Upper Drawbars</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>1 UM 16&apos;</string>
						<key>parameterID</key>
						<integer>12</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2 UM 5⅓&apos;</string>
						<key>parameterID</key>
						<integer>13</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>3 UM 8&apos;</string>
						<key>parameterID</key>
						<integer>14</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>4 UM 4&apos;</string>
						<key>parameterID</key>
						<integer>15</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>5 UM 2⅔&apos;</string>
						<key>parameterID</key>
						<integer>16</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>6 UM 2&apos;</string>
						<key>parameterID</key>
						<integer>17</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>7 UM 1⅗&apos;</string>
						<key>parameterID</key>
						<integer>18</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>8 UM 1⅓&apos;</string>
						<key>parameterID</key>
						<integer>19</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>9 UM 1&apos;</string>
						<key>parameterID</key>
						<integer>20</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Lower Drawbars</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>1 LM 16&apos;</string>
						<key>parameterID</key>
						<integer>22</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2 LM 5⅓&apos;</string>
						<key>parameterID</key>
						<integer>23</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>3 LM 8&apos;</string>
						<key>parameterID</key>
						<integer>24</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>4 LM 4&apos;</string>
						<key>parameterID</key>
						<integer>25</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>5 LM 2⅔&apos;</string>
						<key>parameterID</key>
						<integer>26</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>6 LM 2&apos;</string>
						<key>parameterID</key>
						<integer>27</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>7 LM 1⅗&apos;</string>
						<key>parameterID</key>
						<integer>28</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>8 LM 1⅓&apos;</string>
						<key>parameterID</key>
						<integer>29</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>9 LM 1&apos;</string>
						<key>parameterID</key>
						<integer>30</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Pedal Drawbars</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>1 Pedal 16&apos;</string>
						<key>parameterID</key>
						<integer>32</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
					<dict>
						<key>name</key>
						<string>2 Pedal 8&apos;</string>
						<key>parameterID</key>
						<integer>33</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Rotation</string>
		<key>groups</key>
		<array>
			<array>
				<array>
					<dict>
						<key>name</key>
						<string>Rotor Speed</string>
						<key>parameterID</key>
						<integer>76</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Scanner Mode</string>
						<key>parameterID</key>
						<integer>164</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
				</array>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Vibrato | Chorus</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Vibrato Upper</string>
							<key>parameterID</key>
							<integer>36</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Vibrato Lower</string>
							<key>parameterID</key>
							<integer>37</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Vibrato</string>
						<key>parameterID</key>
						<integer>38</integer>
						<key>preferredControlType</key>
						<string>largeKnob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Vibrato Rate</string>
						<key>parameterID</key>
						<integer>40</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Chorus Int</string>
						<key>parameterID</key>
						<integer>39</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Percussion</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>47</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Perc Volume</string>
						<key>parameterID</key>
						<integer>150</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Decay</string>
						<key>parameterID</key>
						<integer>147</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc. Harmonic</string>
						<key>parameterID</key>
						<integer>50</integer>
						<key>preferredControlType</key>
						<string>segmentedControl</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Effects Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>on/off toggle</string>
						<key>parameterID</key>
						<real>153</real>
						<key>preferredControlType</key>
						<string>toggle</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>FX Chain</string>
							<key>parameterID</key>
							<integer>70</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Effect Bypass</string>
							<key>parameterID</key>
							<integer>71</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Reverb</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>156</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Reverb Mode</string>
							<key>parameterID</key>
							<integer>73</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Reverb</string>
							<key>parameterID</key>
							<integer>135</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Reverb</string>
						<key>parameterID</key>
						<integer>72</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Equalizer</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>154</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>EQ Low</string>
						<key>parameterID</key>
						<integer>55</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EQ Mid</string>
						<key>parameterID</key>
						<integer>56</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EQ High</string>
						<key>parameterID</key>
						<integer>57</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>EQ Level</string>
						<key>parameterID</key>
						<integer>58</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Wah</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>157</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Wah Range</string>
							<key>parameterID</key>
							<integer>61</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Bite</string>
							<key>parameterID</key>
							<integer>62</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wah Mode</string>
							<key>parameterID</key>
							<integer>60</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Wah #CC</string>
							<key>parameterID</key>
							<integer>63</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Wah Pedal Angle</string>
						<key>parameterID</key>
						<integer>64</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Distortion</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>155</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Dist Drive</string>
							<key>parameterID</key>
							<integer>67</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dist Tone</string>
							<key>parameterID</key>
							<integer>68</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Dist Type</string>
							<key>parameterID</key>
							<integer>66</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Rotor Cabinet</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>on/off</string>
			<key>parameterID</key>
			<real>129</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Cabinet</string>
							<key>parameterID</key>
							<integer>75</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Horn Deflector</string>
							<key>parameterID</key>
							<integer>80</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Motor</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Acc/Dec Scale</string>
						<key>parameterID</key>
						<integer>79</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Rotor Fast Rate</string>
						<key>parameterID</key>
						<integer>78</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Motor Control</string>
							<key>parameterID</key>
							<integer>83</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>SpeedControl</string>
							<key>parameterID</key>
							<integer>77</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Brake</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Dry Level</string>
							<key>parameterID</key>
							<integer>130</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Drum Brake Pos</string>
							<key>parameterID</key>
							<integer>134</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Brake</string>
							<key>parameterID</key>
							<integer>131</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Horn Brake Pos</string>
						<key>parameterID</key>
						<integer>133</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Microphone Settings</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Horn Mic</string>
							<key>parameterID</key>
							<integer>142</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Drum Mic</string>
							<key>parameterID</key>
							<integer>144</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Mic Position</string>
							<key>parameterID</key>
							<integer>141</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Mic Processing</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Mic Distance</string>
						<key>parameterID</key>
						<integer>81</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Mic Angle</string>
						<key>parameterID</key>
						<integer>82</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Horn Stereo Width</string>
						<key>parameterID</key>
						<integer>143</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Drum Stereo Width</string>
						<key>parameterID</key>
						<integer>145</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Balance</string>
						<key>parameterID</key>
						<integer>146</integer>
						<key>preferredControlType</key>
						<string>slider</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Click Options</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Click Min</string>
					<key>parameterID</key>
					<integer>97</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Click Max</string>
					<key>parameterID</key>
					<integer>98</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Click Color</string>
					<key>parameterID</key>
					<integer>99</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Click On</string>
						<key>parameterID</key>
						<integer>95</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Click Off</string>
						<key>parameterID</key>
						<integer>96</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Pedal Click</string>
						<key>parameterID</key>
						<integer>100</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Velo to Click</string>
						<key>parameterID</key>
						<integer>136</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Percussion Options</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Percussion Polyphonic</string>
							<key>parameterID</key>
							<integer>139</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Percussion Mode</string>
							<key>parameterID</key>
							<integer>48</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Perc Slow</string>
						<key>parameterID</key>
						<integer>149</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Fast</string>
						<key>parameterID</key>
						<integer>148</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Time</string>
						<key>parameterID</key>
						<integer>51</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Perc Soft</string>
						<key>parameterID</key>
						<integer>151</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Normal</string>
						<key>parameterID</key>
						<integer>152</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Level</string>
						<key>parameterID</key>
						<integer>52</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>UpperLevel</string>
						<key>parameterID</key>
						<integer>49</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Perc Velocity</string>
						<key>parameterID</key>
						<integer>53</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Pitch &amp; Sustain Options</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Pitch</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Tune</string>
						<key>parameterID</key>
						<integer>103</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Upper stretch</string>
						<key>parameterID</key>
						<integer>90</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Lower stretch</string>
						<key>parameterID</key>
						<integer>91</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Warmth</string>
						<key>parameterID</key>
						<integer>92</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Sustain</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>UM Sustain</string>
							<key>parameterID</key>
							<integer>42</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LM Sustain</string>
							<key>parameterID</key>
							<integer>43</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Sustain Mode</string>
							<key>parameterID</key>
							<integer>45</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
					<dict>
						<key>name</key>
						<string>Pedal Sustain</string>
						<key>parameterID</key>
						<integer>44</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Model Parameters</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>max. Wheels</string>
						<key>parameterID</key>
						<integer>104</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Tonal Balance</string>
						<key>parameterID</key>
						<integer>88</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Lower Volume</string>
						<key>parameterID</key>
						<integer>107</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Pedal Volume</string>
						<key>parameterID</key>
						<integer>108</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Shape</string>
						<key>parameterID</key>
						<integer>93</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bass Filter</string>
						<key>parameterID</key>
						<integer>34</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Ultra Bass</string>
							<key>parameterID</key>
							<integer>137</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Extended Bass </string>
							<key>parameterID</key>
							<integer>111</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Organ Condition</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Filter Age</string>
						<key>parameterID</key>
						<integer>89</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Leakage</string>
						<key>parameterID</key>
						<integer>86</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Drawbar Leak</string>
						<key>parameterID</key>
						<integer>85</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Crosstalk</string>
						<key>parameterID</key>
						<integer>87</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>RandomFM</string>
						<key>parameterID</key>
						<integer>94</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Global</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Pitchbend Up</string>
						<key>parameterID</key>
						<integer>109</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Pitchbend Down</string>
						<key>parameterID</key>
						<integer>110</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Master</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Volume</string>
						<key>parameterID</key>
						<integer>106</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Expression</string>
						<key>parameterID</key>
						<integer>105</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>MIDI Mode</string>
						<key>parameterID</key>
						<integer>112</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Preset</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Upper Morph</string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Morph Range</string>
							<key>parameterID</key>
							<integer>6</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Morph Mode</string>
							<key>parameterID</key>
							<integer>8</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Morph</string>
							<key>parameterID</key>
							<integer>10</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Save Morph To</string>
							<key>parameterID</key>
							<integer>9</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Morph #CC</string>
							<key>parameterID</key>
							<integer>7</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Drawbar affects</string>
							<key>parameterID</key>
							<integer>138</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>MIDI to Presetkeys</string>
							<key>parameterID</key>
							<integer>127</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>UM Preset</string>
							<key>parameterID</key>
							<integer>3</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>UM Cancel</string>
							<key>parameterID</key>
							<integer>2</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Note</string>
							<key>parameterID</key>
							<integer>5</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>LM Cancel</string>
							<key>parameterID</key>
							<integer>4</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Keyboard</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array/>
			</dict>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Keyboard Mode</string>
						<key>parameterID</key>
						<integer>119</integer>
						<key>preferredControlType</key>
						<string>menu</string>
					</dict>
					<array>
						<dict>
							<key>name</key>
							<string>Split Point Pd/LM</string>
							<key>parameterID</key>
							<integer>122</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Set Ped/LM Split</string>
							<key>parameterID</key>
							<integer>120</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Split Point LM/UM</string>
							<key>parameterID</key>
							<integer>123</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Set LM/UM Split</string>
							<key>parameterID</key>
							<integer>121</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Upper </string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Transpose Pedal</string>
							<key>parameterID</key>
							<integer>126</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Pedal Midi Ch</string>
							<key>parameterID</key>
							<integer>159</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Transpose LM</string>
							<key>parameterID</key>
							<integer>125</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Lower Midi Ch</string>
							<key>parameterID</key>
							<integer>158</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
					<array>
						<dict>
							<key>name</key>
							<string>Transpose UM</string>
							<key>parameterID</key>
							<integer>124</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Basic/Upper Midi Ch</string>
							<key>parameterID</key>
							<integer>102</integer>
							<key>preferredControlType</key>
							<string>menu</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
</array>
</plist>
