<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- PEALISTv1: TextSize:0| -->
<plist version="1.0">
<array>
	<dict>
		<key>sectionName</key>
		<string>Main</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Model</string>
					<key>parameterID</key>
					<integer>1</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
			</array>
			<array>
				<dict>
					<key>name</key>
					<string>Bass Boost</string>
					<key>parameterID</key>
					<integer>36</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Volume</string>
					<key>parameterID</key>
					<integer>24</integer>
					<key>preferredControlType</key>
					<string>largeKnob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>EQ</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>EQ on/off</string>
			<key>parameterID</key>
			<real>31</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Bass</string>
					<key>parameterID</key>
					<integer>13</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Treble</string>
					<key>parameterID</key>
					<integer>12</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Drive</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Drive on/off</string>
			<key>parameterID</key>
			<real>32</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Drive Gain</string>
							<key>parameterID</key>
							<integer>14</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Drive Tone</string>
							<key>parameterID</key>
							<integer>15</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Drive Mode</string>
							<key>parameterID</key>
							<integer>39</integer>
							<key>preferredControlType</key>
							<string>segmentedControl</string>
						</dict>
					</array>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Chorus</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Chorus on/off</string>
			<key>parameterID</key>
			<real>35</real>
		</dict>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Chorus Rate</string>
					<key>parameterID</key>
					<integer>27</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Chorus Int</string>
					<key>parameterID</key>
					<integer>22</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Phaser</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Phaser on/off</string>
			<key>parameterID</key>
			<real>33</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Phaser Rate</string>
							<key>parameterID</key>
							<integer>16</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Phaser Sync</string>
							<key>parameterID</key>
							<integer>37</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Phaser Color</string>
					<key>parameterID</key>
					<integer>17</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Phaser Stereo</string>
					<key>parameterID</key>
					<integer>18</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Tremolo</string>
		<key>onOffParameter</key>
		<dict>
			<key>name</key>
			<string>Tremolo on/off</string>
			<key>parameterID</key>
			<real>34</real>
		</dict>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string></string>
				<key>parameters</key>
				<array>
					<array>
						<dict>
							<key>name</key>
							<string>Tremolo Rate</string>
							<key>parameterID</key>
							<integer>19</integer>
							<key>preferredControlType</key>
							<string>knob</string>
						</dict>
						<dict>
							<key>name</key>
							<string>Tremolo Sync</string>
							<key>parameterID</key>
							<integer>38</integer>
							<key>preferredControlType</key>
							<string>toggle</string>
						</dict>
					</array>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>Tremolo Depth</string>
					<key>parameterID</key>
					<integer>20</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Tremolo Stereo</string>
					<key>parameterID</key>
					<integer>21</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Model</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Voices</string>
					<key>parameterID</key>
					<integer>9</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Stereo</string>
					<key>parameterID</key>
					<integer>8</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string>Tine</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Decay</string>
						<key>parameterID</key>
						<integer>2</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Release</string>
						<key>parameterID</key>
						<integer>3</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Volume</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Bell Volume</string>
						<key>parameterID</key>
						<integer>4</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Damper Volume</string>
						<key>parameterID</key>
						<integer>5</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Pitch</string>
		<key>groups</key>
		<array>
			<array>
				<dict>
					<key>name</key>
					<string>Tune</string>
					<key>parameterID</key>
					<integer>10</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
				<dict>
					<key>name</key>
					<string>Warmth</string>
					<key>parameterID</key>
					<integer>11</integer>
					<key>preferredControlType</key>
					<string>knob</string>
				</dict>
			</array>
			<dict>
				<key>groupName</key>
				<string>Bend Range</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Bend Range Down</string>
						<key>parameterID</key>
						<integer>25</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Bend Range Up</string>
						<key>parameterID</key>
						<integer>26</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>groupName</key>
				<string>Stretch Tuning</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Lower stretch</string>
						<key>parameterID</key>
						<integer>6</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Upper stretch</string>
						<key>parameterID</key>
						<integer>7</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
		</array>
	</dict>
	<dict>
		<key>sectionName</key>
		<string>Details</string>
		<key>groups</key>
		<array>
			<dict>
				<key>groupName</key>
				<string>Response</string>
				<key>parameters</key>
				<array>
					<dict>
						<key>name</key>
						<string>Delay PP</string>
						<key>parameterID</key>
						<integer>28</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
					<dict>
						<key>name</key>
						<string>Delay FF</string>
						<key>parameterID</key>
						<integer>29</integer>
						<key>preferredControlType</key>
						<string>knob</string>
					</dict>
				</array>
			</dict>
			<array>
				<dict>
					<key>name</key>
					<string>MIDI Mode</string>
					<key>parameterID</key>
					<integer>30</integer>
					<key>preferredControlType</key>
					<string>menu</string>
				</dict>
			</array>
		</array>
	</dict>
</array>
</plist>
