<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>HorizontalDividerCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ResizeTopLeftCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ResizeTopRightCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>RotateBottomLeftCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>14</real>
        <key>hotspoty</key>
        <real>15</real>
    </dict>
    <key>ResizeLeftRightCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>EyedropperCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>8</real>
        <key>hotspoty</key>
        <real>22</real>
    </dict>
    <key>VerticalDividerCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>14</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ScrubberDragCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ArrowCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>11</real>
        <key>hotspoty</key>
        <real>8</real>
    </dict>
    <key>ZoomInCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>12</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>RotateBottomRightCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>15</real>
    </dict>
    <key>IBeamCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ZoomCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>12</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>HandCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>RotateTopLeftCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>14</real>
        <key>hotspoty</key>
        <real>13</real>
    </dict>
    <key>ResizeRightCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>14</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ResizeUpDownCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>RotateTopRightCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>13</real>
    </dict>
    <key>PointerCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>ScrubberVertDragCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ClosedHandCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>CrosshairCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>15</real>
        <key>hotspoty</key>
        <real>15</real>
    </dict>
    <key>ResizeLeftCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>14</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    <key>ZoomOutCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>12</real>
        <key>hotspoty</key>
        <real>11</real>
    </dict>
    <key>ScrubberCursor</key>
    <dict>
        <key>hotspotx</key>
        <real>16</real>
        <key>hotspoty</key>
        <real>14</real>
    </dict>
    </dict>
</plist>
