<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UnusedcursorFacetName91</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName614</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName90</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName82</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName613</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName92</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName711</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName1010</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName63</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEResizeSelectionLeadingXEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>MoveCurveSegment</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>UnusedcursorFacetName103</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName104</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName713</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEFavoriteToolBasic</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>UnusedcursorFacetName106</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName107</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName65</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEResizeEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName99</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>cursorFacetName119</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName87</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEClipTrimmerClosedHand</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName88</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName79</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName813</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName73</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName85</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName56</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>Unused413</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName510</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEResizeSelectionTrailingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>CEResizeLeadingEdgeX</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>CEResizeTrailingEdgeX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>SpecialSelectIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>4</real>
	</dict>
	<key>UnusedcursorFacetName811</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName915</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>ResizeTrailingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>PositionResizeTrailingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName514</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEChromaKeyerCursor</key>
	<dict>
		<key>hotspotx</key>
		<real>6</real>
		<key>hotspoty</key>
		<real>12</real>
	</dict>
	<key>UnusedcursorFacetName60</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEColorEyedropperCursor</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>UnusedcursorFacetName58</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>PositionResizeLeadingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName512</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName55</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>PositionResizeTrailingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName513</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>ResizeLeadingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>MoveCurve</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>RangeSelectSimple</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>UnusedcursorFacetName515</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName57</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>Unused412</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>Unused411</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>HandPickX</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>9</real>
	</dict>
	<key>EyedropperAdd</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>HandPick</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>9</real>
	</dict>
	<key>UnusedcursorFacetName511</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>AddKeyframe</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>YellowPin</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>PositionResizeLeadingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>Stamp</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>PenAddControlPoint</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>RippleLeadingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>WalkCamera</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>ResizeLeadingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>RangeSelectX</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>RippleLeadingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>ResizeTrailingEdgeX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>Roll</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>SpecialSelect</key>
	<dict>
		<key>hotspotx</key>
		<real>12</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>Retime</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>EditDropShadow</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>Slide</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>RippleTrailingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>RazorBlade</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>11</real>
	</dict>
	<key>CrossHairsX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>PenMaskBspline</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>RangeSelect</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>PrecisionOpenHand</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>PrecisionClosedHand</key>
	<dict>
		<key>hotspotx</key>
		<real>16</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>MoveKeyframeY</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>SpecialSelectX</key>
	<dict>
		<key>hotspotx</key>
		<real>9</real>
		<key>hotspoty</key>
		<real>3</real>
	</dict>
	<key>OverwriteMode</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>18</real>
	</dict>
	<key>RazorBladeAll</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>11</real>
	</dict>
	<key>OverlapMode</key>
	<dict>
		<key>hotspotx</key>
		<real>19</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>PenBspline</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>CrossHairs</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>SelectText</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>PointerIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>ResizeTrailingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>OverwriteModeX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>18</real>
	</dict>
	<key>EditTextX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>EditPoints</key>
	<dict>
		<key>hotspotx</key>
		<real>11</real>
		<key>hotspoty</key>
		<real>8</real>
	</dict>
	<key>InsertMode</key>
	<dict>
		<key>hotspotx</key>
		<real>19</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>PenMaskX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>EyeDropper</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>ColorMatch</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>MatchEQ</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>RippleTrailingEdgeIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>Lift</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>PenMaskCloseShape</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>Pen</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>RollIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>AdjustLoop</key>
	<dict>
		<key>hotspotx</key>
		<real>9</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>UnusedcursorFacetName812</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>Move</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>OverlapModeX</key>
	<dict>
		<key>hotspotx</key>
		<real>19</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>PenMask</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>RazorBladeAllX</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>11</real>
	</dict>
	<key>MoveKeyframeX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>Scissor</key>
	<dict>
		<key>hotspotx</key>
		<real>13</real>
		<key>hotspoty</key>
		<real>15</real>
	</dict>
	<key>ResizeLeadingEdgeX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>SelectCurve</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>SelectKeyframe</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>6</real>
	</dict>
	<key>UnusedcursorFacetName69</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>DrawKeyerBox</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>CopyDrag</key>
	<dict>
		<key>hotspotx</key>
		<real>9</real>
		<key>hotspoty</key>
		<real>3</real>
	</dict>
	<key>SlipIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>AutoApplyKeywords</key>
	<dict>
		<key>hotspotx</key>
		<real>9</real>
		<key>hotspoty</key>
		<real>3</real>
	</dict>
	<key>SlideIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>InsertModeX</key>
	<dict>
		<key>hotspotx</key>
		<real>19</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName71</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>Slip</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>Sketch</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>RazorBladeX</key>
	<dict>
		<key>hotspotx</key>
		<real>17</real>
		<key>hotspoty</key>
		<real>11</real>
	</dict>
	<key>PenCloseShape</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>PrecisionClosedHandIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>PrecisionOpenHandIncludeAnchors</key>
	<dict>
		<key>hotspotx</key>
		<real>14</real>
		<key>hotspoty</key>
		<real>13</real>
	</dict>
	<key>PenX</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>5</real>
	</dict>
	<key>Trim</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>DrawKeyerEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>10</real>
		<key>hotspoty</key>
		<real>10</real>
	</dict>
	<key>UnusedcursorFacetName77</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName98</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName70</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName914</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEResizeSelectionTrailingXEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName64</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName94</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName1011</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName814</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName108</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName911</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName615</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName109</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName84</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName710</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName715</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEClipTrimmerOpenHand</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>14</real>
	</dict>
	<key>UnusedcursorFacetName1012</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName75</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName1014</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName78</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName910</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName912</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName86</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName611</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName97</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName1013</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName76</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>MovableTitlesCursor</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName61</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName80</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName72</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName93</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName62</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEEditToolBasic</key>
	<dict>
		<key>hotspotx</key>
		<real>2</real>
		<key>hotspoty</key>
		<real>1</real>
	</dict>
	<key>UnusedcursorFacetName67</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName1015</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName83</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName810</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>EyedropperSubtract</key>
	<dict>
		<key>hotspotx</key>
		<real>7</real>
		<key>hotspoty</key>
		<real>23</real>
	</dict>
	<key>UnusedcursorFacetName74</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName913</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName815</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName66</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>cursorFacetName117</key>
	<dict>
		<key>hotspotx</key>
		<real>23</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName105</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName712</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName81</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName96</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>RetimeConsumer</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>7</real>
	</dict>
	<key>Reorient</key>
	<dict>
		<key>hotspotx</key>
		<integer>8</integer>
		<key>hotspoty</key>
		<integer>4</integer>
	</dict>
	<key>cursorFacetName118</key>
	<dict>
		<key>hotspotx</key>
		<real>8</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName610</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName612</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName89</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName95</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>UnusedcursorFacetName714</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
	<key>CEResizeSelectionLeadingEdge</key>
	<dict>
		<key>hotspotx</key>
		<real>15</real>
		<key>hotspoty</key>
		<real>16</real>
	</dict>
	<key>UnusedcursorFacetName68</key>
	<dict>
		<key>hotspotx</key>
		<real>0</real>
		<key>hotspoty</key>
		<real>0</real>
	</dict>
</dict>
</plist>
