<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rowDividerColor</key>
	<dict>
		<key>red</key>
		<integer>121</integer>
		<key>green</key>
		<integer>122</integer>
		<key>blue</key>
		<integer>124</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>titleClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>113</integer>
		<key>green</key>
		<integer>109</integer>
		<key>blue</key>
		<integer>171</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleSelectionLayerEmphasized</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.698039215686</real>
	</dict>
	<key>slimAudioClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>49</integer>
		<key>green</key>
		<integer>78</integer>
		<key>blue</key>
		<integer>55</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>edgeAllowedColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>215</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>generatorHightlightedClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>214</integer>
		<key>green</key>
		<integer>137</integer>
		<key>blue</key>
		<integer>57</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>slimGapClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>53</integer>
		<key>green</key>
		<integer>53</integer>
		<key>blue</key>
		<integer>53</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleSelectionLayerEditStroke</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>204</integer>
		<key>blue</key>
		<integer>102</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>avClipHighlightedClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>100</integer>
		<key>green</key>
		<integer>140</integer>
		<key>blue</key>
		<integer>194</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>unknownClipTypeColor</key>
	<dict>
		<key>red</key>
		<integer>148</integer>
		<key>green</key>
		<integer>33</integer>
		<key>blue</key>
		<integer>146</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>slimTransitionlipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>95</integer>
		<key>green</key>
		<integer>95</integer>
		<key>blue</key>
		<integer>95</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>titleHightlightedClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>150</integer>
		<key>green</key>
		<integer>148</integer>
		<key>blue</key>
		<integer>227</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleSelectionLayerNormal</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>204</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>filmstripDividerBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.149019607843</real>
	</dict>
	<key>multiangleEditorMonitoringAngleTextColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.701960784314</real>
	</dict>
	<key>accessoryItemSelectedColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>215</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>timelineBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>51</integer>
		<key>green</key>
		<integer>51</integer>
		<key>blue</key>
		<integer>51</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>selectedItemTextColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>timelineBackgroundDisabledColor</key>
	<dict>
		<key>red</key>
		<integer>41</integer>
		<key>green</key>
		<integer>41</integer>
		<key>blue</key>
		<integer>41</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleModeDisallowedEdgeDrag</key>
	<dict>
		<key>red</key>
		<integer>204</integer>
		<key>green</key>
		<integer>33</integer>
		<key>blue</key>
		<integer>45</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleModeAllowedEdgeDrag</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.6</real>
	</dict>
	<key>itemTextColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.8</real>
	</dict>
	<key>slimAVClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>edgeNotAllowedColor</key>
	<dict>
		<key>red</key>
		<integer>201</integer>
		<key>green</key>
		<integer>32</integer>
		<key>blue</key>
		<integer>20</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>generatorClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>139</integer>
		<key>green</key>
		<integer>89</integer>
		<key>blue</key>
		<integer>21</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>avClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>55</integer>
		<key>green</key>
		<integer>74</integer>
		<key>blue</key>
		<integer>97</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>slimContainerClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>95</integer>
		<key>green</key>
		<integer>95</integer>
		<key>blue</key>
		<integer>95</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleSelectionFavoriteBackground</key>
	<dict>
		<key>red</key>
		<integer>68</integer>
		<key>green</key>
		<integer>178</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>accessoryItemAVUnSelectedColor</key>
	<dict>
		<key>red</key>
		<integer>126</integer>
		<key>green</key>
		<integer>169</integer>
		<key>blue</key>
		<integer>230</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>accessoryItemSecondarySelectedColor</key>
	<dict>
		<key>red</key>
		<integer>252</integer>
		<key>green</key>
		<integer>237</integer>
		<key>blue</key>
		<integer>48</integer>
		<key>alpha</key>
		<real>0.501960784314</real>
	</dict>
	<key>selectionMarqueeColor</key>
	<dict>
		<key>red</key>
		<integer>252</integer>
		<key>green</key>
		<integer>219</integer>
		<key>blue</key>
		<integer>45</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>timelineGuidelineSnappingHeavyColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>229</integer>
		<key>blue</key>
		<integer>17</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>avSplitBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>55</integer>
		<key>green</key>
		<integer>74</integer>
		<key>blue</key>
		<integer>97</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>slimGeneratorClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>133</integer>
		<key>green</key>
		<integer>85</integer>
		<key>blue</key>
		<integer>34</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>disabledAudioBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>68</integer>
		<key>green</key>
		<integer>68</integer>
		<key>blue</key>
		<integer>68</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>multiangleEditorMonitoringAngleTextEngraveColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>0.2</real>
	</dict>
	<key>simpleSelectionLayerRejectBackground</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>87</integer>
		<key>blue</key>
		<integer>41</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>simpleSelectionLayerEditBackground</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>204</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0</real>
	</dict>
	<key>backgroundMusicDividerColor</key>
	<dict>
		<key>red</key>
		<integer>40</integer>
		<key>green</key>
		<integer>40</integer>
		<key>blue</key>
		<integer>40</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleSelectionFavoriteStroke</key>
	<dict>
		<key>red</key>
		<integer>86</integer>
		<key>green</key>
		<integer>224</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>audioOnlyHighlightedClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>100</integer>
		<key>green</key>
		<integer>178</integer>
		<key>blue</key>
		<integer>112</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>slimTitleClipBorderColor</key>
	<dict>
		<key>red</key>
		<integer>90</integer>
		<key>green</key>
		<integer>87</integer>
		<key>blue</key>
		<integer>137</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>audioOnlySplitBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>49</integer>
		<key>green</key>
		<integer>78</integer>
		<key>blue</key>
		<integer>55</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>guideLineColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>255</integer>
		<key>blue</key>
		<integer>255</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>timelineGuidelineSnappingLightColor</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>229</integer>
		<key>blue</key>
		<integer>17</integer>
		<key>alpha</key>
		<real>0.349019607843</real>
	</dict>
	<key>selectionMarqueeDisabledColor</key>
	<dict>
		<key>red</key>
		<integer>140</integer>
		<key>green</key>
		<integer>140</integer>
		<key>blue</key>
		<integer>140</integer>
		<key>alpha</key>
		<real>0.949019607843</real>
	</dict>
	<key>simpleSelectionLayerRejectStroke</key>
	<dict>
		<key>red</key>
		<integer>255</integer>
		<key>green</key>
		<integer>95</integer>
		<key>blue</key>
		<integer>51</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>audioOnlyClipBackgroundColor</key>
	<dict>
		<key>red</key>
		<integer>49</integer>
		<key>green</key>
		<integer>78</integer>
		<key>blue</key>
		<integer>55</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>simpleModePrecisionEditorDividerBarColor</key>
	<dict>
		<key>red</key>
		<integer>40</integer>
		<key>green</key>
		<integer>40</integer>
		<key>blue</key>
		<integer>40</integer>
		<key>alpha</key>
		<real>0.250980392157</real>
	</dict>
	<key>disabledClipColor</key>
	<dict>
		<key>red</key>
		<integer>0</integer>
		<key>green</key>
		<integer>0</integer>
		<key>blue</key>
		<integer>0</integer>
		<key>alpha</key>
		<real>0.6</real>
	</dict>
	<key>accessoryItemAudioUnSelectedColor</key>
	<dict>
		<key>red</key>
		<integer>89</integer>
		<key>green</key>
		<integer>176</integer>
		<key>blue</key>
		<integer>100</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
	<key>itemRulerTickColor</key>
	<dict>
		<key>red</key>
		<integer>122</integer>
		<key>green</key>
		<integer>121</integer>
		<key>blue</key>
		<integer>32</integer>
		<key>alpha</key>
		<real>0.521568627451</real>
	</dict>
	<key>secondaryStorylineBaseColor</key>
	<dict>
		<key>red</key>
		<integer>62</integer>
		<key>green</key>
		<integer>62</integer>
		<key>blue</key>
		<integer>62</integer>
		<key>alpha</key>
		<real>1</real>
	</dict>
</dict>
</plist>
