<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.../Titles.localized/AppStore.localized/Fullscreen - Fade.localized/Fullscreen - Fade.moti</key>
	<integer>0</integer>
	<key>.../Titles.localized/AppStore.localized/Fullscreen - Slide.localized/Fullscreen - Slide.moti</key>
	<integer>1</integer>
	<key>.../Titles.localized/AppStore.localized/Scale Top.localized/Scale Top.moti</key>
	<integer>2</integer>
	<key>.../Titles.localized/AppStore.localized/Scale Bottom.localized/Scale Bottom.moti</key>
	<integer>3</integer>
	<key>.../Titles.localized/AppStore.localized/Black Bar - Fade (Movable).localized/Black Bar - Fade (Movable).moti</key>
	<integer>4</integer>
	<key>.../Titles.localized/AppStore.localized/White Bar - Fade (Movable).localized/White Bar - Fade (Movable).moti</key>
	<integer>5</integer>
	<key>.../Titles.localized/AppStore.localized/Color Bar - Fade (Movable).localized/Color Bar - Fade (Movable).moti</key>
	<integer>6</integer>
	<key>.../Titles.localized/AppStore.localized/Black Bar - Slide.localized/Black Bar - Slide.moti</key>
	<integer>7</integer>
	<key>.../Titles.localized/AppStore.localized/White Bar - Slide.localized/White Bar - Slide.moti</key>
	<integer>8</integer>
	<key>.../Titles.localized/AppStore.localized/Color Bar - Slide.localized/Color Bar - Slide.moti</key>
	<integer>9</integer>
	<key>.../Titles.localized/AppStore.localized/Disclaimer.localized/Disclaimer.moti</key>
	<integer>10</integer>
</dict>
</plist>
