<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ar</key>
	<dict>
		<key>FONT-Avenir-Book</key>
		<string>GeezaPro</string>
		<key>FONT-Avenir-Heavy</key>
		<string>GeezaPro-Bold</string>
		<key>FONT-Avenir-Light</key>
		<string>GeezaPro</string>
		<key>FONT-Avenir-Medium</key>
		<string>GeezaPro</string>
		<key>FONT-AvenirLTCom-BlackOblique</key>
		<string>GeezaPro</string>
		<key>FONT-AvenirNext-Bold</key>
		<string>GeezaPro-Bold</string>
		<key>FONT-AvenirNext-Regular</key>
		<string>GeezaPro</string>
		<key>FONT-AvianoSansBold</key>
		<string>AvianoSansBold</string>
		<key>FONT-BankGothic-Light</key>
		<string>Muna</string>
		<key>FONT-BankGothic-Medium</key>
		<string>MunaBold</string>
		<key>FONT-Baskerville-BoldItalic</key>
		<string>Baskerville-BoldItalic</string>
		<key>FONT-BeaufortPro</key>
		<string>AlTarikh</string>
		<key>FONT-BrushScriptMT</key>
		<string>Farah</string>
		<key>FONT-Cochin</key>
		<string>Cochin</string>
		<key>FONT-DDT-Bold</key>
		<string>AlNile-Bold</string>
		<key>FONT-DDT-CondensedSemibold</key>
		<string>DDT-CondensedSemibold</string>
		<key>FONT-Didot</key>
		<string>Didot</string>
		<key>FONT-EngraversGothicBT-Regular</key>
		<string>EngraversGothicBT-Regular</string>
		<key>FONT-FranklinGothicLT-Demi</key>
		<string>FranklinGothicLT-Demi</string>
		<key>FONT-Futura-CondensedExtraBold</key>
		<string>Futura-CondensedExtraBold</string>
		<key>FONT-Futura-CondensedMedium</key>
		<string>Futura-CondensedMedium</string>
		<key>FONT-GaramondRoughHEF-Medium</key>
		<string>GaramondRoughHEF-Medium</string>
		<key>FONT-GaramondRoughHEF-Reg</key>
		<string>GaramondRoughHEF-Reg</string>
		<key>FONT-Georgia</key>
		<string>AlNile</string>
		<key>FONT-GillSans-Light</key>
		<string>MunaBlack</string>
		<key>FONT-GillSans-UltraBold</key>
		<string>MunaBlack</string>
		<key>FONT-Helvetica-Bold</key>
		<string>Helvetica-Bold</string>
		<key>FONT-HelveticaNeue</key>
		<string>HelveticaNeue</string>
		<key>FONT-HelveticaNeue-Bold</key>
		<string>HelveticaNeue-Bold</string>
		<key>FONT-HelveticaNeue-Light</key>
		<string>HelveticaNeue-Light</string>
		<key>FONT-HelveticaNeue-Medium</key>
		<string>HelveticaNeue-Medium</string>
		<key>FONT-HopperScript-Regular</key>
		<string>DiwanThuluth</string>
		<key>FONT-Loopiejuice-Regular</key>
		<string>Farah</string>
		<key>FONT-Luminari-Regular</key>
		<string>DiwanKufi</string>
		<key>FONT-OldEnglishText</key>
		<string>Sana</string>
		<key>FONT-Posterboard</key>
		<string>DiwanMishafi</string>
		<key>FONT-ProximaNova-Extrabld</key>
		<string>AlNile-Bold</string>
		<key>FONT-ProximaNova-Regular</key>
		<string>AlNile</string>
		<key>FONT-SFComicScript</key>
		<string>WaseemLight</string>
		<key>FONT-SabonLTPro-Roman</key>
		<string>AlTarikh</string>
		<key>FONT-Shababa</key>
		<string>Farah</string>
		<key>FONT-ShabashPro-Regular</key>
		<string>Muna</string>
		<key>FONT-SketchBlock-Light</key>
		<string>AlNile</string>
		<key>FONT-Trattatello</key>
		<string>Farisi</string>
		<key>FONT-Virtus-Regular</key>
		<string>AlTarikh</string>
		<key>FONT-Zingende-Light</key>
		<string>Farisi</string>
	</dict>
	<key>he</key>
	<dict>
		<key>FONT-Avenir-Book</key>
		<string>Avenir-Book</string>
		<key>FONT-Avenir-Heavy</key>
		<string>ArialHebrew-Bold</string>
		<key>FONT-Avenir-Light</key>
		<string>ArialHebrew-Light</string>
		<key>FONT-Avenir-Medium</key>
		<string>ArialHebrew</string>
		<key>FONT-AvenirLTCom-BlackOblique</key>
		<string>AvenirLTCom-BlackOblique</string>
		<key>FONT-AvenirNext-Bold</key>
		<string>ArialHebrew-Bold</string>
		<key>FONT-AvenirNext-Regular</key>
		<string>ArialHebrew</string>
		<key>FONT-AvianoSansBold</key>
		<string>ArialHebrew</string>
		<key>FONT-BankGothic-Light</key>
		<string>BankGothic-Light</string>
		<key>FONT-BankGothic-Medium</key>
		<string>BankGothic-Medium</string>
		<key>FONT-Baskerville-BoldItalic</key>
		<string>Baskerville-BoldItalic</string>
		<key>FONT-BeaufortPro</key>
		<string>BeaufortPro</string>
		<key>FONT-BrushScriptMT</key>
		<string>BrushScriptMT</string>
		<key>FONT-Cochin</key>
		<string>Cochin</string>
		<key>FONT-DDT-Bold</key>
		<string>DDT-Bold</string>
		<key>FONT-DDT-CondensedSemibold</key>
		<string>DDT-CondensedSemibold</string>
		<key>FONT-Didot</key>
		<string>ArialHebrew</string>
		<key>FONT-EngraversGothicBT-Regular</key>
		<string>EngraversGothicBT-Regular</string>
		<key>FONT-FranklinGothicLT-Demi</key>
		<string>FranklinGothicLT-Demi</string>
		<key>FONT-Futura-CondensedExtraBold</key>
		<string>Futura-CondensedExtraBold</string>
		<key>FONT-Futura-CondensedMedium</key>
		<string>Futura-CondensedMedium</string>
		<key>FONT-GaramondRoughHEF-Medium</key>
		<string>GaramondRoughHEF-Medium</string>
		<key>FONT-GaramondRoughHEF-Reg</key>
		<string>GaramondRoughHEF-Reg</string>
		<key>FONT-Georgia</key>
		<string>Georgia</string>
		<key>FONT-GillSans-Light</key>
		<string>GillSans-Light</string>
		<key>FONT-GillSans-UltraBold</key>
		<string>GillSans-UltraBold</string>
		<key>FONT-Helvetica-Bold</key>
		<string>Helvetica-Bold</string>
		<key>FONT-HelveticaNeue</key>
		<string>HelveticaNeue</string>
		<key>FONT-HelveticaNeue-Bold</key>
		<string>HelveticaNeue-Bold</string>
		<key>FONT-HelveticaNeue-Light</key>
		<string>HelveticaNeue-Light</string>
		<key>FONT-HelveticaNeue-Medium</key>
		<string>HelveticaNeue-Medium</string>
		<key>FONT-HopperScript-Regular</key>
		<string>HopperScript-Regular</string>
		<key>FONT-Loopiejuice-Regular</key>
		<string>ArialHebrew</string>
		<key>FONT-Luminari-Regular</key>
		<string>Luminari-Regular</string>
		<key>FONT-OldEnglishText</key>
		<string>OldEnglishText</string>
		<key>FONT-Posterboard</key>
		<string>Posterboard</string>
		<key>FONT-ProximaNova-Extrabld</key>
		<string>ProximaNova-Extrabld</string>
		<key>FONT-ProximaNova-Regular</key>
		<string>ProximaNova-Regular</string>
		<key>FONT-SFComicScript</key>
		<string>SFComicScript</string>
		<key>FONT-SabonLTPro-Roman</key>
		<string>SabonLTPro-Roman</string>
		<key>FONT-Shababa</key>
		<string>Shababa</string>
		<key>FONT-ShabashPro-Regular</key>
		<string>ShabashPro-Regular</string>
		<key>FONT-SketchBlock-Light</key>
		<string>SketchBlock-Light</string>
		<key>FONT-Trattatello</key>
		<string>Trattatello</string>
		<key>FONT-Virtus-Regular</key>
		<string>Virtus-Regular</string>
		<key>FONT-Zingende-Light</key>
		<string>Zingende-Light</string>
	</dict>
</dict>
</plist>
