<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.../Titles.localized/Simple.localized/Slide.localized/Slide.moti</key>
	<integer>0</integer>
	<key>.../Titles.localized/Simple.localized/Slide Lower Third.localized/Slide Lower Third.moti</key>
	<integer>1</integer>
	<key>.../Titles.localized/Simple.localized/Split.localized/Split.moti</key>
	<integer>2</integer>
	<key>.../Titles.localized/Simple.localized/Split Lower Third.localized/Split Lower Third.moti</key>
	<integer>3</integer>
	<key>.../Titles.localized/Simple.localized/Chromatic.localized/Chromatic.moti</key>
	<integer>4</integer>
	<key>.../Titles.localized/Simple.localized/Chromatic Lower Third.localized/Chromatic Lower Third.moti</key>
	<integer>5</integer>
	<key>.../Titles.localized/Simple.localized/Standard.localized/Standard.moti</key>
	<integer>6</integer>
	<key>.../Titles.localized/Simple.localized/Standard Lower Third.localized/Standard Lower Third.moti</key>
	<integer>7</integer>
	<key>.../Titles.localized/Simple.localized/Expand.localized/Expand.moti</key>
	<integer>8</integer>
	<key>.../Titles.localized/Simple.localized/Expand Lower Third.localized/Expand Lower Third.moti</key>
	<integer>9</integer>
	<key>.../Titles.localized/Simple.localized/Reveal.localized/Reveal.moti</key>
	<integer>10</integer>
	<key>.../Titles.localized/Simple.localized/Reveal Lower Third.localized/Reveal Lower Third.moti</key>
	<integer>11</integer>
	<key>.../Titles.localized/Simple.localized/Focus.localized/Focus.moti</key>
	<integer>12</integer>
	<key>.../Titles.localized/Simple.localized/Focus Lower Third.localized/Focus Lower Third.moti</key>
	<integer>13</integer>
	<key>.../Titles.localized/Simple.localized/Line.localized/Line.moti</key>
	<integer>14</integer>
	<key>.../Titles.localized/Simple.localized/Line Lower Third.localized/Line Lower Third.moti</key>
	<integer>15</integer>
	<key>.../Titles.localized/Simple.localized/Pop-up.localized/Pop-up.moti</key>
	<integer>16</integer>
	<key>.../Titles.localized/Simple.localized/Pop-up Lower Third.localized/Pop-up Lower Third.moti</key>
	<integer>17</integer>
	<key>.../Titles.localized/Simple.localized/Gravity.localized/Gravity.moti</key>
	<integer>18</integer>
	<key>.../Titles.localized/Simple.localized/Gravity Lower Third.localized/Gravity Lower Third.moti</key>
	<integer>19</integer>
	<key>.../Titles.localized/Simple.localized/Prism.localized/Prism.moti</key>
	<integer>20</integer>
	<key>.../Titles.localized/Simple.localized/Prism Lower Third.localized/Prism Lower Third.moti</key>
	<integer>21</integer>
	<key>.../Titles.localized/Build In:Out.localized/Centered.localized/Centered.moti</key>
	<integer>22</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Middle.localized/Middle.moti</key>
	<integer>23</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Right.localized/Right.moti</key>
	<integer>24</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Upper.localized/Upper.moti</key>
	<integer>25</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Echo.localized/Echo.moti</key>
	<integer>26</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Overlap.localized/Overlap.moti</key>
	<integer>27</integer>
	<key>.../Titles.localized/Build In:Out.localized/Four Corners.localized/Four Corners.moti</key>
	<integer>28</integer>
	<key>.../Titles.localized/Credits.localized/Scrolling.localized/Scrolling.moti</key>
	<integer>29</integer>
	<key>.../Titles.localized/Build In:Out.localized/Drifting.localized/Drifting.moti</key>
	<integer>30</integer>
	<key>.../Titles.localized/Build In:Out.localized/Sideways Drift.localized/Sideways Drift.moti</key>
	<integer>31</integer>
	<key>.../Titles.localized/Build In:Out.localized/Vertical Drift.localized/Vertical Drift.moti</key>
	<integer>32</integer>
	<key>.../Titles.localized/Build In:Out.localized/Zoom.localized/Zoom.moti</key>
	<integer>33</integer>
	<key>.../Titles.localized/Build In:Out.localized/Horizontal Blur.localized/Horizontal Blur.moti</key>
	<integer>34</integer>
	<key>.../Titles.localized/Build In:Out.localized/Soft Edge.localized/Soft Edge.moti</key>
	<integer>35</integer>
	<key>.../Titles.localized/Bumper:Opener.localized/Lens Flare.localized/Lens Flare.moti</key>
	<integer>36</integer>
	<key>.../Titles.localized/Bumper:Opener.localized/Pull Focus.localized/Pull Focus.moti</key>
	<integer>37</integer>
	<key>.../Titles.localized/Build In:Out.localized/Boogie Lights.localized/Boogie Lights.moti</key>
	<integer>38</integer>
	<key>.../Titles.localized/Build In:Out.localized/Pixie Dust.localized/Pixie Dust.moti</key>
	<integer>39</integer>
	<key>.../Titles.localized/Build In:Out.localized/Ornate.localized/Ornate.moti</key>
	<integer>40</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Organic.localized/Organic.moti</key>
	<integer>41</integer>
	<key>.../Titles.localized/Build In:Out.localized/Ticker.localized/Ticker.moti</key>
	<integer>42</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Date:Time.localized/Date:Time.moti</key>
	<integer>43</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Clouds.localized/Clouds.moti</key>
	<integer>44</integer>
	<key>.../Titles.localized/Build In:Out.localized/Far Far Away.localized/Far Far Away.moti</key>
	<integer>45</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Gradient - Center.localized/Gradient - Center.moti</key>
	<integer>46</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Soft Bar - White.localized/Soft Bar - White.moti</key>
	<integer>47</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Paper.localized/Paper.moti</key>
	<integer>48</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Formal.localized/Formal.moti</key>
	<integer>49</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Gradient - Edge.localized/Gradient - Edge.moti</key>
	<integer>50</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Soft Bar - Black.localized/Soft Bar - Black.moti</key>
	<integer>51</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Torn Edge - Black.localized/Torn Edge - Black.moti</key>
	<integer>52</integer>
	<key>.../Titles.localized/Lower Thirds.localized/Torn Edge - Tan.localized/Torn Edge - Tan.moti</key>
	<integer>53</integer>
</dict>
</plist>
