<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Select</string>
		<key>handler</key>
		<string>TKStartHandlerID</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blade</string>
		<key>handler</key>
		<string>TKSplitItemsHandlerID</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blade All</string>
		<key>handler</key>
		<string>TKSplitItemsHandlerID All</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pan</string>
		<key>handler</key>
		<string>TKPanViewHandlerID</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom In</string>
		<key>handler</key>
		<string>TKZoomInHandlerID</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zoom Out</string>
		<key>handler</key>
		<string>TKZoomOutHandlerID</string>
	</dict>
</array>
</plist>
