<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FxPlug:4731E73A-8DAC-4113-9A30-AE85B1761265</key>
	<integer>0</integer>
	<key>FxPlug:D1486D23-5E52-449A-B5ED-CB3E80650041</key>
	<integer>1</integer>
	<key>FxPlug:F779C565-486D-4633-8035-0374B4DB8F5C:preset0</key>
	<integer>2</integer>
	<key>FxPlug:F779C565-486D-4633-8035-0374B4DB8F5C:preset1</key>
	<integer>3</integer>
	<key>FxPlug:196B9DB2-28FD-420F-9BA1-3F0E9EEBBAAA:preset0</key>
	<integer>4</integer>
	<key>FxPlug:196B9DB2-28FD-420F-9BA1-3F0E9EEBBAAA:preset1</key>
	<integer>5</integer>
	<key>FxPlug:1C52AC71-7116-4248-B51F-5F5641EA9EDD:preset0</key>
	<integer>6</integer>
	<key>FxPlug:1C52AC71-7116-4248-B51F-5F5641EA9EDD:preset1</key>
	<integer>7</integer>
	<key>FxPlug:ED6B803E-CAF7-46CE-85A4-0811D457749F</key>
	<integer>8</integer>
	<key>FxPlug:ED30AF7F-E5F2-4E1D-9ED8-74F6F055887F:preset0</key>
	<integer>9</integer>
	<key>FxPlug:653CCCCD-6CB1-4602-B9B3-181B1C53E069</key>
	<integer>10</integer>
	<key>FxPlug:66B87635-119C-40B2-BF6E-537A3165FB95</key>
	<integer>11</integer>
	<key>FxPlug:857E2FBA-98DB-411B-A88C-CE6ABC1F65D8:preset0</key>
	<integer>12</integer>
	<key>FxPlug:857E2FBA-98DB-411B-A88C-CE6ABC1F65D8:preset1</key>
	<integer>13</integer>
	<key>FxPlug:857E2FBA-98DB-411B-A88C-CE6ABC1F65D8:preset2</key>
	<integer>14</integer>
	<key>FxPlug:857E2FBA-98DB-411B-A88C-CE6ABC1F65D8:preset3</key>
	<integer>15</integer>
	<key>FxPlug:6AAB0D54-FCD8-4EBD-A62D-D352A5ED1648:preset0</key>
	<integer>16</integer>
	<key>FxPlug:6AAB0D54-FCD8-4EBD-A62D-D352A5ED1648:preset1</key>
	<integer>17</integer>
	<key>FxPlug:8473FF7F-38B9-43D4-AD3B-AFE0F75F8757:preset0</key>
	<integer>18</integer>
	<key>FxPlug:8473FF7F-38B9-43D4-AD3B-AFE0F75F8757:preset1</key>
	<integer>19</integer>
	<key>FxPlug:21B9D89C-4162-43FF-BA07-B019989E4940:preset0</key>
	<integer>20</integer>
	<key>FxPlug:21B9D89C-4162-43FF-BA07-B019989E4940:preset1</key>
	<integer>21</integer>
	<key>FxPlug:662A1077-43A0-4340-BBA9-5580BA4C729C</key>
	<integer>22</integer>
</dict>
</plist>
