<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>スタンダード 4:3</key>
	<string>1.33</string>
	<key>アメリカンビスタ 1.85:1</key>
	<string>1.85</string>
	<key>アナモフィックスコープ 2.35:1</key>
	<string>2.35</string>
	<key>HD 16:9</key>
	<string>1.78</string>
</dict>
</plist>
