<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definitions</key>
	<dict>
		<key>tv.amwa.as11.closedCaptionsLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11ClosedCaptionsLanguageDesc</string>
			<key>displayName</key>
			<string>AS11ClosedCaptionsLanguage</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>tv.amwa.as11.closedCaptionsPresent</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11ClosedCaptionsPresentDesc</string>
			<key>displayName</key>
			<string>AS11ClosedCaptionsPresent</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>tv.amwa.as11.closedCaptionsType</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11ClosedCaptionsTypeDesc</string>
			<key>displayName</key>
			<string>AS11ClosedCaptionsType</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>tv.amwa.as11.episodeTitleNo</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11EpisodeTitleNumberDesc</string>
			<key>displayName</key>
			<string>AS11EpisodeTitleNumber</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>tv.amwa.as11.programmeTitle</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11ProgrammeTitleDesc</string>
			<key>displayName</key>
			<string>AS11ProgrammeTitle</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>tv.amwa.as11.seriesTitle</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11SeriesTitleDesc</string>
			<key>displayName</key>
			<string>AS11SeriesTitle</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>tv.amwa.as11.shimName</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11ShimNameDesc</string>
			<key>displayName</key>
			<string>AS11ShimName</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.audioDescriptionPresent</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPAudioDescriptionPresentDesc</string>
			<key>displayName</key>
			<string>DPPAudioDescriptionPresent</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>uk.dpp.as11.audioDescriptionType</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPAudioDescriptionTypeDesc</string>
			<key>displayName</key>
			<string>DPPAudioDescriptionType</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPAudioDescriptionType_ControlData_Narration</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPAudioDescriptionType_ADMix</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.completionDate</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPCompletionDateDesc</string>
			<key>displayName</key>
			<string>DPPCompletionDate</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.contactEmail</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPContactEmailDesc</string>
			<key>displayName</key>
			<string>DPPContactEmail</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.contactTelephoneNo</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPContactTelephoneNoDesc</string>
			<key>displayName</key>
			<string>DPPContactTelephoneNo</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.copyrightYear</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPCopyrightYearDesc</string>
			<key>displayName</key>
			<string>DPPCopyrightYear</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>uk.dpp.as11.distributer</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPDistributorDesc</string>
			<key>displayName</key>
			<string>DPPDistributor</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.genre</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPGenreDesc</string>
			<key>displayName</key>
			<string>DPPGenre</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.openCaptionsLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOpenCaptionsLanguageDesc</string>
			<key>displayName</key>
			<string>DPPOpenCaptionsLanguage</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.openCaptionsPresent</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOpenCaptionsPresentDesc</string>
			<key>displayName</key>
			<string>DPPOpenCaptionsPresent</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>uk.dpp.as11.openCaptionsType</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOpenCaptionsTypeDesc</string>
			<key>displayName</key>
			<string>DPPOpenCaptionsType</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPOpenCaptionsType_HardOfHearing</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPOpenCaptionsType_Translation</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.orginator</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOriginatorDesc</string>
			<key>displayName</key>
			<string>DPPOriginator</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.otherIdentifier</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOtherIdentifierDesc</string>
			<key>displayName</key>
			<string>DPPOtherIdentifier</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.otherIdentifierType</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPOtherIdentifierTypeDesc</string>
			<key>displayName</key>
			<string>DPPOtherIdentifierType</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.productionNumber</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPProductionNumberDesc</string>
			<key>displayName</key>
			<string>DPPProductionNumber</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.programmeHasText</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPProgrammeHasTextDesc</string>
			<key>displayName</key>
			<string>DPPProgrammeHasText</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>uk.dpp.as11.programmeTextLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPProgrammeTextLanguageDesc</string>
			<key>displayName</key>
			<string>DPPProgrammeTextLanguage</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.signingPresent</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPSigningPresentDesc</string>
			<key>displayName</key>
			<string>DPPSigningPresent</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPSigningPresent_Yes</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPSigningPresent_No</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>DPPSigningPresent_SignerOnly</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.signLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPSignLanguageDesc</string>
			<key>displayName</key>
			<string>DPPSignLanguage</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPSignLanguage_BritishSignLanguage</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPSignLanguage_Makaton</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.synopsis</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPSynopsisDesc</string>
			<key>displayName</key>
			<string>DPPSynopsis</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.textlessElementsExist</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPTextlessElementsExistDesc</string>
			<key>displayName</key>
			<string>DPPTextlessElementsExist</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
	</dict>
	<key>viewSets</key>
	<dict>
		<key>displayName</key>
		<string>DPPEditorialServicesViewSet</string>
		<key>keys</key>
		<array>
			<string>tv.amwa.as11.seriesTitle</string>
			<string>tv.amwa.as11.programmeTitle</string>
			<string>tv.amwa.as11.episodeTitleNo</string>
			<string>uk.dpp.as11.productionNumber</string>
			<string>uk.dpp.as11.synopsis</string>
			<string>uk.dpp.as11.orginator</string>
			<string>uk.dpp.as11.copyrightYear</string>
			<string>uk.dpp.as11.otherIdentifier</string>
			<string>uk.dpp.as11.otherIdentifierType</string>
			<string>uk.dpp.as11.genre</string>
			<string>uk.dpp.as11.distributer</string>
			<string>tv.amwa.as11.shimName</string>
			<string>uk.dpp.as11.audioDescriptionPresent</string>
			<string>uk.dpp.as11.audioDescriptionType</string>
			<string>tv.amwa.as11.closedCaptionsPresent</string>
			<string>tv.amwa.as11.closedCaptionsType</string>
			<string>tv.amwa.as11.closedCaptionsLanguage</string>
			<string>uk.dpp.as11.openCaptionsPresent</string>
			<string>uk.dpp.as11.openCaptionsType</string>
			<string>uk.dpp.as11.openCaptionsLanguage</string>
			<string>uk.dpp.as11.signingPresent</string>
			<string>uk.dpp.as11.signLanguage</string>
			<string>uk.dpp.as11.completionDate</string>
			<string>uk.dpp.as11.textlessElementsExist</string>
			<string>uk.dpp.as11.programmeHasText</string>
			<string>uk.dpp.as11.programmeTextLanguage</string>
			<string>uk.dpp.as11.contactEmail</string>
			<string>uk.dpp.as11.contactTelephoneNo</string>
		</array>
	</dict>
</dict>
</plist>
