<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definitions</key>
	<dict>
		<key>tv.amwa.as11.audioTrackLayout</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11AudioTrackLayoutDesc</string>
			<key>displayName</key>
			<string>AS11AudioTrackLayout</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_1a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_1b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_1c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>3</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_2a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>4</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_2b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>5</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_2c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>6</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_3a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>7</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_3b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>8</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_4a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>9</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_4b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>10</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_4c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>11</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_5a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>12</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_5b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>13</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_6a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>14</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_6b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>15</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_7a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>16</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_7b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>17</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_8a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>18</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_8b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>19</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_8c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>20</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_9a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>21</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_9b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>22</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_10a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>23</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_11a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>24</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_11b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>25</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R48_11c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>26</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_2a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>27</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_4a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>28</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_4b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>29</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_4c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>30</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>31</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>32</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>33</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8d</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>34</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8e</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>35</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8f</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>36</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8g</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>37</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8h</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>38</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_8i</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>39</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>40</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>41</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>42</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12d</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>43</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12e</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>44</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12f</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>45</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12g</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>46</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_12h</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>47</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16a</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>48</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16b</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>49</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16c</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>50</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16d</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>51</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16e</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>52</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_EBU_R123_16f</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>255</integer>
					<key>label</key>
					<string>AS11AudioTrackLayout_Undefined</string>
				</dict>
			</array>
		</dict>
		<key>tv.amwa.as11.primaryAudioLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>AS11AudioLanguageDesc</string>
			<key>displayName</key>
			<string>AS11AudioLanguage</string>
			<key>source</key>
			<string>AS-11</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.3D</key>
		<dict>
			<key>displayDescription</key>
			<string>DPP3DDesc</string>
			<key>displayName</key>
			<string>DPP3D</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>uk.dpp.as11.3DType</key>
		<dict>
			<key>displayDescription</key>
			<string>DPP3DTypeDesc</string>
			<key>displayName</key>
			<string>DPP3DType</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPP3DType_SideBySide</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPP3DType_Dual</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>DPP3DType_LeftEyeOnly</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>3</integer>
					<key>label</key>
					<string>DPP3DType_RightEyeOnly</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.audioComments</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPAudioCommentsDesc</string>
			<key>displayName</key>
			<string>DPPAudioComments</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.audioLoudnessStandard</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPAudioLoudnessStandardDesc</string>
			<key>displayName</key>
			<string>DPPAudioLoudnessStandard</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPAudioLoudnessStandard_None</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPAudioLoudnessStandard_EBU_R128</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.FPAManufacturer</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPFPAManufacturerDesc</string>
			<key>displayName</key>
			<string>DPPFPAManufacturer</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.FPAPass</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPFPAPassDesc</string>
			<key>displayName</key>
			<string>DPPFPAPass</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>stringifyEnum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>DPPFPAPass_Yes</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>DPPFPAPass_No</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>DPPFPAPass_NotTested</string>
				</dict>
			</array>
		</dict>
		<key>uk.dpp.as11.FPAVersion</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPFPAVersionDesc</string>
			<key>displayName</key>
			<string>DPPFPAVersion</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.identClockStart</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPIdentClockStartDesc</string>
			<key>displayName</key>
			<string>DPPIdentClockStart</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>uk.dpp.as11.lineUpStart</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPLineUpStartDesc</string>
			<key>displayName</key>
			<string>DPPLineUpStart</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>uk.dpp.as11.pictureRatio</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPPictureRatioDesc</string>
			<key>displayName</key>
			<string>DPPPictureRatio</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.productPlacement</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPProductPlacementDesc</string>
			<key>displayName</key>
			<string>DPPProductPlacement</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>uk.dpp.as11.secondaryAudioLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPSecondaryAudioLanguageDesc</string>
			<key>displayName</key>
			<string>DPPSecondaryAudioLanguage</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.totalNumberOfParts</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPTotalNumberOfPartsDesc</string>
			<key>displayName</key>
			<string>DPPTotalNumberOfParts</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>uk.dpp.as11.totalProgrammeDuration</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPTotalProgrammeDurationDesc</string>
			<key>displayName</key>
			<string>DPPTotalProgrammeDuration</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>uk.dpp.as11.tertiaryAudioLanguage</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPTertiaryAudioLanguageDesc</string>
			<key>displayName</key>
			<string>DPPTertiaryAudioLanguage</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>uk.dpp.as11.videoComments</key>
		<dict>
			<key>displayDescription</key>
			<string>DPPVideoCommentsDesc</string>
			<key>displayName</key>
			<string>DPPVideoComments</string>
			<key>source</key>
			<string>DPP</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</dict>
	<key>viewSets</key>
	<dict>
		<key>displayName</key>
		<string>DPPMediaViewSet</string>
		<key>keys</key>
		<array>
			<string>uk.dpp.as11.pictureRatio</string>
			<string>uk.dpp.as11.3D</string>
			<string>uk.dpp.as11.3DType</string>
			<string>uk.dpp.as11.productPlacement</string>
			<string>uk.dpp.as11.FPAPass</string>
			<string>uk.dpp.as11.FPAManufacturer</string>
			<string>uk.dpp.as11.FPAVersion</string>
			<string>uk.dpp.as11.videoComments</string>
			<string>tv.amwa.as11.audioTrackLayout</string>
			<string>tv.amwa.as11.primaryAudioLanguage</string>
			<string>uk.dpp.as11.secondaryAudioLanguage</string>
			<string>uk.dpp.as11.tertiaryAudioLanguage</string>
			<string>uk.dpp.as11.audioLoudnessStandard</string>
			<string>uk.dpp.as11.audioComments</string>
			<string>uk.dpp.as11.lineUpStart</string>
			<string>uk.dpp.as11.identClockStart</string>
			<string>uk.dpp.as11.totalNumberOfParts</string>
			<string>uk.dpp.as11.totalProgrammeDuration</string>
		</array>
	</dict>
</dict>
</plist>
