<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definitions</key>
	<dict>
		<key>com.google.photos.panorama.v1.GPano:UsePanoramaViewer</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoUsePanoramaViewerDesc</string>
			<key>displayName</key>
			<string>GPanoUsePanoramaViewer</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:CaptureSoftware</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoCaptureSoftwareDesc</string>
			<key>displayName</key>
			<string>GPanoCaptureSoftware</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:StitchingSoftware</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoStitchingSoftwareDesc</string>
			<key>displayName</key>
			<string>GPanoStitchingSoftware</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:ProjectionType</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoProjectionTypeDesc</string>
			<key>displayName</key>
			<string>GPanoProjectionType</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>enum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>FFSphericalMode_None</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>FFSphericalMode_Equirectangular</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>FFSphericalMode_DualFisheye</string>
				</dict>
			</array>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:PoseHeadingDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoPoseHeadingDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoPoseHeadingDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:PosePitchDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoPosePitchDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoPosePitchDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:PoseRollDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoPoseRollDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoPoseRollDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:InitialViewHeadingDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoInitialViewHeadingDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoInitialViewHeadingDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:InitialViewPitchDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoInitialViewPitchDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoInitialViewPitchDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:InitialViewRollDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoInitialViewRollDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoInitialViewRollDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:InitialHorizontalFOVDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoInitialHorizontalFOVDegreesDesc</string>
			<key>displayName</key>
			<string>GPanoInitialHorizontalFOVDegrees</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>float</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:FirstPhotoDate</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoFirstPhotoDateDesc</string>
			<key>displayName</key>
			<string>GPanoFirstPhotoDate</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>date</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:LastPhotoDate</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoLastPhotoDateDesc</string>
			<key>displayName</key>
			<string>GPanoLastPhotoDate</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>date</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:SourcePhotosCount</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoSourcePhotosCountDesc</string>
			<key>displayName</key>
			<string>GPanoSourcePhotosCount</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:ExposureLockUsed</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoExposureLockUsedDesc</string>
			<key>displayName</key>
			<string>GPanoExposureLockUsed</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>boolean</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:CroppedAreaImageWidthPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoCroppedAreaImageWidthPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoCroppedAreaImageWidthPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:CroppedAreaImageHeightPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoCroppedAreaImageHeightPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoCroppedAreaImageHeightPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:FullPanoWidthPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoFullPanoWidthPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoFullPanoWidthPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:FullPanoHeightPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoFullPanoHeightPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoFullPanoHeightPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:CroppedAreaLeftPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoCroppedAreaLeftPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoCroppedAreaLeftPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:CroppedAreaTopPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoCroppedAreaTopPixelsDesc</string>
			<key>displayName</key>
			<string>GPanoCroppedAreaTopPixels</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>integer</string>
		</dict>
		<key>com.google.photos.panorama.v1.GPano:InitialCameraDolly</key>
		<dict>
			<key>displayDescription</key>
			<string>GPanoInitialCameraDollyDesc</string>
			<key>displayName</key>
			<string>GPanoInitialCameraDolly</string>
			<key>source</key>
			<string>GPano</string>
			<key>type</key>
			<string>float</string>
		</dict>
	</dict>
    <!--
	<key>viewSets</key>
	<dict>
		<key>displayName</key>
		<string>GPanoViewSet</string>
		<key>keys</key>
		<array>
			<string>com.google.photos.panorama.v1.GPano:UsePanoramaViewer</string>
			<string>com.google.photos.panorama.v1.GPano:CaptureSoftware</string>
			<string>com.google.photos.panorama.v1.GPano:StitchingSoftware</string>
			<string>com.google.photos.panorama.v1.GPano:ProjectionType</string>
			<string>com.google.photos.panorama.v1.GPano:PoseHeadingDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:PosePitchDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:PoseRollDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:InitialViewHeadingDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:InitialViewPitchDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:InitialViewRollDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:InitialHorizontalFOVDegrees</string>
			<string>com.google.photos.panorama.v1.GPano:FirstPhotoDate</string>
			<string>com.google.photos.panorama.v1.GPano:LastPhotoDate</string>
			<string>com.google.photos.panorama.v1.GPano:SourcePhotosCount</string>
			<string>com.google.photos.panorama.v1.GPano:ExposureLockUsed</string>
			<string>com.google.photos.panorama.v1.GPano:CroppedAreaImageWidthPixels</string>
			<string>com.google.photos.panorama.v1.GPano:CroppedAreaImageHeightPixels</string>
			<string>com.google.photos.panorama.v1.GPano:FullPanoWidthPixels</string>
			<string>com.google.photos.panorama.v1.GPano:FullPanoHeightPixels</string>
			<string>com.google.photos.panorama.v1.GPano:CroppedAreaLeftPixels</string>
			<string>com.google.photos.panorama.v1.GPano:CroppedAreaTopPixels</string>
			<string>com.google.photos.panorama.v1.GPano:InitialCameraDolly</string>
		</array>
	</dict>
     -->
</dict>
</plist>
