<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definitions</key>
	<dict>
		<key>com.google.videos.spherical.v1.GSpherical:Spherical</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalSphericalDesc</string>
			<key>displayName</key>
			<string>GSphericalSpherical</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>boolean</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:Stitched</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalStitchedDesc</string>
			<key>displayName</key>
			<string>GSphericalStitched</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>boolean</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:StitchingSoftware</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalStitchingSoftwareDesc</string>
			<key>displayName</key>
			<string>GSphericalStitchingSoftware</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>string</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:ProjectionType</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalProjectionTypeDesc</string>
			<key>displayName</key>
			<string>GSphericalProjectionType</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>string</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:StereoMode</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalStereoModeDesc</string>
			<key>displayName</key>
			<string>GSphericalStereoMode</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>enum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>FFStereoMode_Mono</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>FFStereoMode_SideBySide</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>FFStereoMode_OverUnder</string>
				</dict>
			</array>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:SourceCount</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalSourceCountDesc</string>
			<key>displayName</key>
			<string>GSphericalSourceCount</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:InitialViewHeadingDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalInitialViewHeadingDegreesDesc</string>
			<key>displayName</key>
			<string>GSphericalInitialViewHeadingDegrees</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:InitialViewPitchDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalInitialViewPitchDegreesDesc</string>
			<key>displayName</key>
			<string>GSphericalInitialViewPitchDegrees</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:InitialViewRollDegrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalInitialViewRollDegreesDesc</string>
			<key>displayName</key>
			<string>GSphericalInitialViewRollDegrees</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:Timestamp</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalTimestampDesc</string>
			<key>displayName</key>
			<string>GSphericalTimestamp</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>dateTime</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:FullPanoWidthPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalFullPanoWidthPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalFullPanoWidthPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:FullPanoHeightPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalFullPanoHeightPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalFullPanoHeightPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:CroppedAreaImageWidthPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalCroppedAreaImageWidthPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalCroppedAreaImageWidthPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:CroppedAreaImageHeightPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalCroppedAreaImageHeightPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalCroppedAreaImageHeightPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:CroppedAreaLeftPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalCroppedAreaLeftPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalCroppedAreaLeftPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v1.GSpherical:CroppedAreaTopPixels</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalCroppedAreaTopPixelsDesc</string>
			<key>displayName</key>
			<string>GSphericalCroppedAreaTopPixels</string>
			<key>source</key>
			<string>GSpherical</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.stereo_mode</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.stereo_modeDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.stereo_mode</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>enum</string>
			<key>enumValues</key>
			<array>
				<dict>
					<key>value</key>
					<integer>0</integer>
					<key>label</key>
					<string>FFStereoMode_Mono</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>1</integer>
					<key>label</key>
					<string>FFStereoMode_OverUnder</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>2</integer>
					<key>label</key>
					<string>FFStereoMode_SideBySide</string>
				</dict>
				<dict>
					<key>value</key>
					<integer>3</integer>
					<key>label</key>
					<string>FFStereoMode_StereoMesh</string>
				</dict>
			</array>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.metadata_source</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.metadata_sourceDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.metadata_source</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>string</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.pose_yaw_degrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.pose_yaw_degreesDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.pose_yaw_degrees</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.pose_pitch_degrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.pose_pitch_degreesDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.pose_pitch_degrees</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.pose_roll_degrees</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.pose_roll_degreesDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.pose_roll_degrees</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.cube_layout</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.cube_layoutDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.cube_layout</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.cube_padding</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.cube_paddingDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.cube_padding</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.projection_bounds_top</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.projection_bounds_topDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.projection_bounds_top</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.projection_bounds_bottom</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.projection_bounds_bottomDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.projection_bounds_bottom</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.projection_bounds_left</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.projection_bounds_leftDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.projection_bounds_left</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
		<key>com.google.videos.spherical.v2.projection_bounds_right</key>
		<dict>
			<key>displayDescription</key>
			<string>GSphericalV2.projection_bounds_leftDesc</string>
			<key>displayName</key>
			<string>GSphericalV2.projection_bounds_left</string>
			<key>source</key>
			<string>GSpherical_v2</string>
			<key>type</key>
			<string>integer</string>
			<key>editable</key>
			<true/>
		</dict>
	</dict>
    <!--
	<key>viewSets</key>
	<dict>
		<key>displayName</key>
		<string>GSphericalViewSet</string>
		<key>keys</key>
		<array>
			<string>com.google.videos.spherical.v1.GSpherical:Spherical</string>
			<string>com.google.videos.spherical.v1.GSpherical:Stitched</string>
			<string>com.google.videos.spherical.v1.GSpherical:StitchingSoftware</string>
			<string>com.google.videos.spherical.v1.GSpherical:ProjectionType</string>
			<string>com.google.videos.spherical.v1.GSpherical:StereoMode</string>
			<string>com.google.videos.spherical.v1.GSpherical:SourceCount</string>
			<string>com.google.videos.spherical.v1.GSpherical:InitialViewHeadingDegrees</string>
			<string>com.google.videos.spherical.v1.GSpherical:InitialViewPitchDegrees</string>
			<string>com.google.videos.spherical.v1.GSpherical:InitialViewRollDegrees</string>
			<string>com.google.videos.spherical.v1.GSpherical:Timestamp</string>
			<string>com.google.videos.spherical.v1.GSpherical:FullPanoWidthPixels</string>
			<string>com.google.videos.spherical.v1.GSpherical:FullPanoHeightPixels</string>
			<string>com.google.videos.spherical.v1.GSpherical:CroppedAreaImageWidthPixels</string>
			<string>com.google.videos.spherical.v1.GSpherical:CroppedAreaImageHeightPixels</string>
			<string>com.google.videos.spherical.v1.GSpherical:CroppedAreaLeftPixels</string>
			<string>com.google.videos.spherical.v1.GSpherical:CroppedAreaTopPixels</string>
			<string>com.google.videos.spherical.v2.stereo_mode</string>
			<string>com.google.videos.spherical.v2.metadata_source</string>
			<string>com.google.videos.spherical.v2.pose_yaw_degrees</string>
			<string>com.google.videos.spherical.v2.pose_pitch_degrees</string>
			<string>com.google.videos.spherical.v2.pose_roll_degrees</string>
			<string>com.google.videos.spherical.v2.cube_layout</string>
			<string>com.google.videos.spherical.v2.cube_padding</string>
			<string>com.google.videos.spherical.v2.projection_bounds_top</string>
			<string>com.google.videos.spherical.v2.projection_bounds_bottom</string>
			<string>com.google.videos.spherical.v2.projection_bounds_left</string>
			<string>com.google.videos.spherical.v2.projection_bounds_right</string>
		</array>
	</dict>
     -->
</dict>
</plist>
