<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>definitions</key>
	<dict>
		<key>org.smpte.mxf.identification.applicationname</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFProductNameDesc</string>
			<key>displayName</key>
			<string>MXFProductName</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.identification.applicationproductid</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFProductIDDesc</string>
			<key>displayName</key>
			<string>MXFProductID</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.identification.applicationsuppliername</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFSupplierCompanyDesc</string>
			<key>displayName</key>
			<string>MXFSupplierCompany</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.identification.applicationversionstring</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFProductVersionDesc</string>
			<key>displayName</key>
			<string>MXFProductVersion</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.identification.filemodificationdate</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFModificationDesc</string>
			<key>displayName</key>
			<string>MXFModification</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.identification.generationid</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFGenerationIDDesc</string>
			<key>displayName</key>
			<string>MXFGenerationID</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.package.material.creationtime</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFPackageCreationDesc</string>
			<key>displayName</key>
			<string>MXFPackageCreation</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.package.material.packageid</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFPackageIDDesc</string>
			<key>displayName</key>
			<string>MXFPackageID</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.package.material.packagelastmodified</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFPackageLastModificationDesc</string>
			<key>displayName</key>
			<string>MXFPackageLastModification</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.package.material.packagename</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFPackageNameDesc</string>
			<key>displayName</key>
			<string>MXFPackageName</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<key>org.smpte.mxf.preface.filemodificationdate</key>
		<dict>
			<key>displayDescription</key>
			<string>MXFPrefaceModificationDesc</string>
			<key>displayName</key>
			<string>MXFPrefaceModification</string>
			<key>source</key>
			<string>MXF</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</dict>
	<key>viewSets</key>
	<dict>
		<key>displayName</key>
		<string>MXFViewSet</string>
		<key>keys</key>
		<array>
			<string>org.smpte.mxf.identification.filemodificationdate</string>
			<string>org.smpte.mxf.identification.generationid</string>
			<string>org.smpte.mxf.identification.applicationsuppliername</string>
			<string>org.smpte.mxf.identification.applicationname</string>
			<string>org.smpte.mxf.identification.applicationversionstring</string>
			<string>org.smpte.mxf.identification.applicationproductid</string>
			<string>org.smpte.mxf.package.material.creationtime</string>
			<string>org.smpte.mxf.package.material.packageid</string>
			<string>org.smpte.mxf.package.material.packagelastmodified</string>
			<string>org.smpte.mxf.preface.filemodificationdate</string>
		</array>
	</dict>
</dict>
</plist>
