<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##cast1</key>
		<string>엄마</string>
		<key>##cast2</key>
		<string>아빠</string>
		<key>##description</key>
		<string>진지하면서도 밝은 이야기 - 가족 행사, 일대기, 애완동물, 여행 등의 다양한 주제와 어울립니다.</string>
		<key>##movieName</key>
		<string>눈</string>
		<key>##script0</key>
		<string>야생의 세계에 홀로 남겨진 채^n</string>
		<key>##script1</key>
		<string>대자연에 도전하는 한 가족^n</string>
		<key>##script2</key>
		<string>인간 대 자연^n</string>
		<key>##script3</key>
		<string>^f2^B3^n^f1최우수 관객상^n^f2수상작</string>
		<key>##script4</key>
		<string>^f2^B3^n^f1최우수 감독상^n^f2수상작</string>
		<key>##script5</key>
		<string>‘가장 매혹적인 올해의 영화’^n^f4^A0</string>
		<key>##script6</key>
		<string>‘영혼을 울리는 위대한 인간 승리’^n^f4^A1</string>
		<key>##script7</key>
		<string>^u^f3^B0^n^l^f0^B1</string>
		<key>##script8</key>
		<string>^B3 ^B2</string>
		<key>##season</key>
		<string>겨울</string>
		<key>##subtitle</key>
		<string>감동의 실화</string>
		<key>##subtitleLabel</key>
		<string>자막:</string>
		<key>##year</key>
		<string>^y년</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>70</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<integer>24</integer>
			<key>name</key>
			<string>Baskerville SemiBold</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>lineSpacing</key>
			<integer>18</integer>
			<key>name</key>
			<string>Baskerville SemiBold</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Proxima Nova Extrabold</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>alignment</key>
			<integer>1</integer>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Futura Medium</string>
			<key>size</key>
			<integer>24</integer>
		</dict>
	</array>
	<key>posterIndex</key>
	<integer>-2</integer>
	<key>posterPercent</key>
	<real>0.97999999999999998</real>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-3</string>
			<key>uppercase</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-3</string>
			<key>uppercase</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script6</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>titleName</key>
			<string>TrailerTitle-Documentary-4</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script8</string>
			<key>titleName</key>
			<string>Title-Zoom</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##subtitleLabel</string>
					<key>value</key>
					<string>##subtitle</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##seasonLabel</string>
					<key>value</key>
					<string>##season</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##yearLabel</string>
					<key>value</key>
					<string>##year</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>studioIndex</key>
	<integer>4</integer>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key>extraAfter</key>
				<string>black</string>
				<key>extraBefore</key>
				<string>black</string>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.5</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.5</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.1599999999999999</real>
				<key>extraBefore</key>
				<string>black</string>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.5</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.5</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.5</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.5</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.8300000000000001</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.6600000000000001</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>3.2000000000000002</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.46</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>1.3899999999999999</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.8999999999999999</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.8599999999999999</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>duration</key>
				<real>2.2999999999999998</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-Documentary.mov</string>
		</dict>
	</dict>
</dict>
</plist>
