<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##heading</key>
		<string>로고 스타일:</string>
		<key>##label0</key>
		<string>검정색 배경</string>
		<key>##label1</key>
		<string>우주에서 자전하는 지구</string>
		<key>##label10</key>
		<string>나무</string>
		<key>##label2</key>
		<string>구름 속의 햇살</string>
		<key>##label3</key>
		<string>눈 덮인 산봉우리</string>
		<key>##label4</key>
		<string>빛나는 피라미드</string>
		<key>##label5</key>
		<string>전세계 신호 전송</string>
		<key>##label6</key>
		<string>색상 막대</string>
		<key>##label7</key>
		<string>민들레</string>
		<key>##label8</key>
		<string>은하</string>
		<key>##label9</key>
		<string>가로등</string>
	</dict>
	<key>label</key>
	<string>##heading</string>
	<key>values</key>
	<array>
		<array>
			<string>##label0</string>
			<string>##label1</string>
			<string>##label2</string>
			<string>##label3</string>
			<string>##label4</string>
			<string>##label5</string>
			<string>##label6</string>
			<string>##label7</string>
			<string>##label8</string>
			<string>##label9</string>
			<string>##label10</string>
		</array>
	</array>
</dict>
</plist>
