<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##description</key>
		<string>A highly stylized nod to films from the 40s and 50s. This melodrama works well with everyday videos of family and friends.</string>
		<key>##script0</key>
		<string>Romance</string>
		<key>##script1</key>
		<string>Greed</string>
		<key>##script2</key>
		<string>Revenge</string>
		<key>##script3</key>
		<string>Who is^nThat ^A01?</string>
		<key>##script5</key>
		<string>^f1^A13^b^f0Love ^A02</string>
		<key>##script7</key>
		<string>^f1Gangsters^n^f0Fear ^A04</string>
		<key>##script9</key>
		<string>^f6^A0^b^f2as the^b^f3Deadliest Acquaintance^n^f4You&apos;ll Ever Meet</string>
		<key>##script10</key>
		<string>^f6^A1^b^f2as the^b^f3Most Charismatic^n^f3Heart Breaker^b^f2to Cross Your Path</string>
		<key>##script11</key>
		<string>^f2The Most^n^f1Thrilling Movie^n^f4You&apos;ll Ever See</string>
		<key>##script18</key>
		<string>^f1Amazing^b^b^b^b^n^f0^b^b^b^bAction</string>
		<key>##script21</key>
		<string>^f5Strange^b^f2and^b^f5Mysterious^n^f0Loves</string>
		<key>##cast1</key>
		<string>Kyle</string>
		<key>##cast2</key>
		<string>Julia</string>
		<key>##movieName</key>
		<string>Madrid^bNights</string>
		<key>##date</key>
		<string>^f7^y</string>
		<key>##lookLabel</key>
		<string>Video Style:</string>
		<key>##type0</key>
		<string>Normal</string>
		<key>##type1</key>
		<string>Film Noir</string>
		<key>##type2</key>
		<string>Black &amp; White</string>
		<key>##genderLabel</key>
		<string>Gender:</string>
		<key>##gender0</key>
		<string>Male</string>
		<key>##gender1</key>
		<string>Female</string>
		<key>##description0</key>
		<string>Man</string>
		<key>##description1</key>
		<string>Woman</string>
		<key>##pronoun0</key>
		<string>Him</string>
		<key>##pronoun1</key>
		<string>Her</string>
		<key>##opposite0</key>
		<string>Guys</string>
		<key>##opposite1</key>
		<string>Ladies</string>
		<key>##pronounAlt0</key>
		<string>Him</string>
		<key>##pronounAlt1</key>
		<string>Her</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>size</key>
			<integer>64</integer>
			<key>lineSpacing</key>
			<string>64</string>
			<key>shadow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>size</key>
			<integer>64</integer>
			<key>lineSpacing</key>
			<string>64</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>addSpaces</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>size</key>
			<integer>28</integer>
			<key>lineSpacing</key>
			<string>28</string>
			<key>shadow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>size</key>
			<integer>28</integer>
			<key>lineSpacing</key>
			<string>28</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>addSpaces</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>size</key>
			<integer>48</integer>
			<key>lineSpacing</key>
			<string>48</string>
			<key>shadow</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-BoldOblique</string>
			<key>size</key>
			<integer>48</integer>
			<key>lineSpacing</key>
			<string>48</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>addSpaces</key>
			<integer>1</integer>
			<key>baselineOffset</key>
			<string>-4.5</string>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>size</key>
			<integer>64</integer>
			<key>lineSpacing</key>
			<string>64</string>
			<key>shadow</key>
			<integer>1</integer>
			<key>baselineOffset</key>
			<string>-8</string>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Flatbush-Bold</string>
			<key>size</key>
			<integer>144</integer>
			<key>lineSpacing</key>
			<string>144</string>
			<key>shadow</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>popups</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##genderLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##gender0</string>
					<string>##gender1</string>
				</array>
				<array>
					<string>##description0</string>
					<string>##description1</string>
				</array>
				<array>
					<string>##pronoun0</string>
					<string>##pronoun1</string>
				</array>
				<array>
					<string>##opposite0</string>
					<string>##opposite1</string>
				</array>
				<array>
					<string>##pronounAlt0</string>
					<string>##pronounAlt1</string>
				</array>
			</array>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##lookLabel</string>
			<key>values</key>
			<array>
				<array>
					<string>##type0</string>
					<string>##type1</string>
					<string>##type2</string>
				</array>
				<array>
					<string>Style_None</string>
					<string>Style_FilmNoir</string>
					<string>Style_BlackAndWhite</string>
				</array>
			</array>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-FilmNoir1</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script5</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script7</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script9</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script10</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script11</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script18</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script21</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B0%1^n^B0%2</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-FilmNoir3</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B1</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-Centered</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^A0</string>
					<key>sourceLabel</key>
					<string>##label1</string>
					<key>value</key>
					<string>##cast1</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
				<dict>
					<key>key</key>
					<string>^A1</string>
					<key>sourceLabel</key>
					<string>##label2</string>
					<key>value</key>
					<string>##cast2</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>0</integer>
						<key>value</key>
						<integer>1</integer>
					</dict>
				</dict>
			</array>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^B1</string>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
				<dict>
					<key>sourceLabel</key>
					<string>##lookLabel</string>
					<key>popup</key>
					<dict>
						<key>index</key>
						<integer>1</integer>
						<key>value</key>
						<integer>0</integer>
					</dict>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>** PLACEHOLDER</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A0</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>^A1</string>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
	</array>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>duration</key>
				<real>4.966666698455811</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>1.36</real>
				<key>index</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>1.2</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>2.83</real>
				<key>index</key>
				<integer>2</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>2.19</real>
				<key>index</key>
				<integer>0</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-DiamondUp</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 3</string>
				<key>duration</key>
				<real>2.45</real>
				<key>index</key>
				<integer>3</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.93</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>duration</key>
				<real>2.96</real>
				<key>index</key>
				<integer>4</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Up</string>
				<key>transitionBeforeDuration</key>
				<real>1.066666603088379</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 5</string>
				<key>duration</key>
				<real>4.16</real>
				<key>index</key>
				<integer>5</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>duration</key>
				<real>3.56</real>
				<key>index</key>
				<integer>6</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Clock</string>
				<key>transitionBeforeDuration</key>
				<real>0.9666671752929688</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 7</string>
				<key>duration</key>
				<real>3.23</real>
				<key>index</key>
				<integer>7</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>2.59</real>
				<key>index</key>
				<integer>8</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisOpen</string>
				<key>transitionBeforeDuration</key>
				<real>0.8999996185302734</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 1-1</string>
				<key>duration</key>
				<real>4.52</real>
				<key>index</key>
				<integer>9</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisClose</string>
				<key>transitionBeforeDuration</key>
				<real>0.9666671752929688</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 10</string>
				<key>duration</key>
				<real>4.66</real>
				<key>index</key>
				<integer>10</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-DiamondRight</string>
				<key>transitionBeforeDuration</key>
				<real>0.9666671752929688</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 11</string>
				<key>duration</key>
				<real>4.19</real>
				<key>index</key>
				<integer>11</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisClose</string>
				<key>transitionBeforeDuration</key>
				<real>0.4333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>0.9</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>0.93</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>1.96</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>1.96</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>2.89</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 18</string>
				<key>duration</key>
				<real>2.700000762939453</real>
				<key>index</key>
				<integer>18</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Right</string>
				<key>transitionBeforeDuration</key>
				<real>0.9333343505859375</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2-1</string>
				<key>duration</key>
				<real>2.466667175292969</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>3.03</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 21</string>
				<key>duration</key>
				<real>2.499996185302734</real>
				<key>index</key>
				<integer>21</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-Corner</string>
				<key>transitionBeforeDuration</key>
				<real>0.8333358764648438</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<integer>1</integer>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>duration</key>
				<real>3.67</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT + SHOT - 24</string>
				<key>duration</key>
				<real>4.800003051757812</real>
				<key>index</key>
				<integer>24</integer>
				<key>transitionBefore</key>
				<string>Transition_Gradient-IrisOpen</string>
				<key>transitionBeforeDuration</key>
				<real>0.9666671752929688</real>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 25</string>
				<key>duration</key>
				<real>2.599998474121094</real>
				<key>index</key>
				<integer>25</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>2.3</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-FilmNoir.caf</string>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-FilmNoir2</string>
	<key>styleSection</key>
	<integer>1</integer>
	<key>styleIndex</key>
	<integer>2</integer>
	<key>studioIndex</key>
	<integer>5</integer>
	<key>posterIndex</key>
	<integer>-2</integer>
</dict>
</plist>
