<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##description</key>
		<string>An eerie drama for creatures of the night. Put a supernatural twist on love stories, travel videos, or other home movies.</string>
		<key>##script0</key>
		<string>An Ancient Culture</string>
		<key>##script1</key>
		<string>Immortal</string>
		<key>##script2</key>
		<string>Invincible</string>
		<key>##script3</key>
		<string>What if you could live forever?</string>
		<key>##script4</key>
		<string>Could you love forever?</string>
		<key>##movieName</key>
		<string>Eternal</string>
		<key>##date</key>
		<string>This Summer</string>
		<key>##slowMoLabel</key>
		<string>Medium - Slow Motion</string>
	</dict>
	<key>castInfo</key>
	<string>##castInfo</string>
	<key>description</key>
	<string>##description</string>
	<key>durationInfo</key>
	<string>##durationInfo</string>
	<key>fonts</key>
	<array>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Goudy Old Style Bold</string>
			<key>size</key>
			<integer>36</integer>
		</dict>
		<dict>
			<key>color</key>
			<string>white</string>
			<key>name</key>
			<string>Goudy Old Style</string>
			<key>size</key>
			<integer>72</integer>
		</dict>
	</array>
	<key>script</key>
	<array>
		<dict>
			<key>sourceLine</key>
			<string>##script0</string>
			<key>uppercase</key>
			<true/>
			<key>titleIndex</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script1</string>
			<key>uppercase</key>
			<true/>
			<key>titleIndex</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script2</string>
			<key>uppercase</key>
			<true/>
			<key>titleIndex</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script3</string>
			<key>uppercase</key>
			<true/>
			<key>titleIndex</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>##script4</string>
			<key>uppercase</key>
			<true/>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^f1^B0</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-Supernatural2</string>
		</dict>
		<dict>
			<key>sourceLine</key>
			<string>^B1</string>
			<key>uppercase</key>
			<true/>
			<key>titleName</key>
			<string>Title-Supernatural2</string>
		</dict>
	</array>
	<key>sections</key>
	<array>
		<dict>
			<key>label</key>
			<string>##cast</string>
			<key>objects</key>
			<array/>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>label</key>
			<string>##details</string>
			<key>objects</key>
			<array>
				<dict>
					<key>key</key>
					<string>^B0</string>
					<key>sourceLabel</key>
					<string>##movieLabel</string>
					<key>value</key>
					<string>##movieName</string>
				</dict>
				<dict>
					<key>key</key>
					<string>^B1</string>
					<key>sourceLabel</key>
					<string>##dateLabel</string>
					<key>value</key>
					<string>##date</string>
				</dict>
			</array>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>shots</key>
	<array>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>4</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
			<key>rate</key>
			<real>0.5</real>
			<key>sourceLabel</key>
			<string>##slowMoLabel</string>
		</dict>
		<dict>
			<key>type</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>timeline</key>
	<dict>
		<key>main</key>
		<array>
			<dict>
				<key> identifier</key>
				<string>** STUDIO LOGO</string>
				<key>duration</key>
				<real>4.525000095367432</real>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 0</string>
				<key>duration</key>
				<real>2.436666965484619</real>
				<key>extraBefore</key>
				<string>black</string>
				<key>extraBeforeDuration</key>
				<real>0.8483333587646484</real>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 0</string>
				<key>duration</key>
				<real>1.934999465942383</real>
				<key>index</key>
				<integer>0</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.8666667938232422</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1</string>
				<key>duration</key>
				<real>2.534999847412109</real>
				<key>index</key>
				<integer>1</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 1</string>
				<key>duration</key>
				<real>3.738333702087402</real>
				<key>index</key>
				<integer>1</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.5333328247070312</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2</string>
				<key>duration</key>
				<real>2.801666259765625</real>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.034999847412109</real>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 3</string>
				<key>duration</key>
				<real>3.836666107177734</real>
				<key>index</key>
				<integer>3</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 2</string>
				<key>duration</key>
				<real>2.103334426879883</real>
				<key>index</key>
				<integer>2</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.9333324432373047</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.9666652679443359</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 4</string>
				<key>duration</key>
				<real>2.801666259765625</real>
				<key>index</key>
				<integer>4</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 5</string>
				<key>duration</key>
				<real>1.936666488647461</real>
				<key>index</key>
				<integer>5</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 6</string>
				<key>duration</key>
				<real>1.935001373291016</real>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 7</string>
				<key>duration</key>
				<real>1.93499755859375</real>
				<key>index</key>
				<integer>7</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 8</string>
				<key>duration</key>
				<real>1.935001373291016</real>
				<key>index</key>
				<integer>8</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 1-1</string>
				<key>duration</key>
				<real>1.935001373291016</real>
				<key>index</key>
				<integer>9</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 10</string>
				<key>duration</key>
				<real>1.968330383300781</real>
				<key>index</key>
				<integer>10</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 11</string>
				<key>duration</key>
				<real>1.970001220703125</real>
				<key>index</key>
				<integer>11</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 12</string>
				<key>duration</key>
				<real>1.968334197998047</real>
				<key>index</key>
				<integer>12</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 13</string>
				<key>duration</key>
				<real>2.001667022705078</real>
				<key>index</key>
				<integer>13</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 14</string>
				<key>duration</key>
				<real>2.034999847412109</real>
				<key>index</key>
				<integer>14</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 15</string>
				<key>duration</key>
				<real>2.636665344238281</real>
				<key>index</key>
				<integer>15</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 16</string>
				<key>duration</key>
				<real>2.135002136230469</real>
				<key>index</key>
				<integer>16</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 17</string>
				<key>duration</key>
				<real>2.168331146240234</real>
				<key>index</key>
				<integer>17</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 18</string>
				<key>duration</key>
				<real>2.170001983642578</real>
				<key>index</key>
				<integer>18</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 2-1</string>
				<key>duration</key>
				<real>3.136665344238281</real>
				<key>index</key>
				<integer>19</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 3</string>
				<key>duration</key>
				<real>1.533332824707031</real>
				<key>index</key>
				<integer>3</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>0.8683357238769531</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.9350013732910156</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 20</string>
				<key>duration</key>
				<real>2.103336334228516</real>
				<key>index</key>
				<integer>20</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 21</string>
				<key>duration</key>
				<real>2.235000610351562</real>
				<key>index</key>
				<integer>21</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 4</string>
				<key>duration</key>
				<real>3.003334045410156</real>
				<key>index</key>
				<integer>4</integer>
				<key>transitionAfter</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionAfterDuration</key>
				<real>1.501663208007812</real>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.9683380126953125</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 22</string>
				<key>duration</key>
				<real>3.669998168945312</real>
				<key>index</key>
				<integer>22</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 23</string>
				<key>duration</key>
				<real>2.101661682128906</real>
				<key>index</key>
				<integer>23</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SHOT ITEM - 24</string>
				<key>duration</key>
				<real>2.536666870117188</real>
				<key>index</key>
				<integer>24</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 5</string>
				<key>duration</key>
				<real>2.7</real>
				<key>index</key>
				<integer>5</integer>
				<key>transitionBefore</key>
				<string>Transition_CrossDissolve</string>
				<key>transitionBeforeDuration</key>
				<real>0.3333282470703125</real>
				<key>transitionAfter</key>
				<string>Transition_FadeThroughBlack</string>
				<key>transitionAfterDuration</key>
				<real>1</real>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** SCRIPT ITEM - 6</string>
				<key>duration</key>
				<integer>3</integer>
				<key>index</key>
				<integer>6</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<dict>
				<key> identifier</key>
				<string>** CREDITS</string>
				<key>duration</key>
				<real>2.7</real>
				<key>type</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>soundTrack</key>
		<dict>
			<key>index</key>
			<integer>1</integer>
			<key>name</key>
			<string>SoundTrack-Supernatural.mov</string>
		</dict>
	</dict>
	<key>titleName</key>
	<string>Title-Supernatural1</string>
	<key>studioIndex</key>
	<integer>2</integer>
	<key>posterIndex</key>
	<integer>-2</integer>
</dict>
</plist>
