<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##label0</key>
		<string>Directed By:</string>
		<key>##label1</key>
		<string>Edited By:</string>
		<key>##label2</key>
		<string>Written By:</string>
		<key>##label3</key>
		<string>Executive Producer:</string>
		<key>##label4</key>
		<string>Director of Photography:</string>
		<key>##label5</key>
		<string>Production Designer:</string>
		<key>##label6</key>
		<string>Costume Designer:</string>
		<key>##label7</key>
		<string>Casting By:</string>
		<key>##label8</key>
		<string>Music By:</string>
		<key>##credits</key>
		<string>Credits</string>
	</dict>
	<key>type</key>
	<integer>4</integer>
	<key>label</key>
	<string>##credits</string>
	<key>count</key>
	<integer>9</integer>
	<key>objects</key>
	<array>
		<dict>
			<key>sourceLabel</key>
			<string>##label0</string>
			<key>defaultKey</key>
			<string>^creditsDirector</string>
			<key>labelKey</key>
			<string>^titleDirector</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label1</string>
			<key>defaultKey</key>
			<string>^creditsEditor</string>
			<key>labelKey</key>
			<string>^titleEditor</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label2</string>
			<key>defaultKey</key>
			<string>^creditsWriter</string>
			<key>labelKey</key>
			<string>^titleWriter</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label3</string>
			<key>defaultKey</key>
			<string>^creditsExecutiveProducer</string>
			<key>labelKey</key>
			<string>^titleExecutiveProducer</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label4</string>
			<key>defaultKey</key>
			<string>^creditsPhotography</string>
			<key>labelKey</key>
			<string>^titlePhotography</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label5</string>
			<key>defaultKey</key>
			<string>^creditsProductionDesigner</string>
			<key>labelKey</key>
			<string>^titleProductionDesigner</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label6</string>
			<key>defaultKey</key>
			<string>^creditsCostumeDesigner</string>
			<key>labelKey</key>
			<string>^titleCostumeDesigner</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label7</string>
			<key>defaultKey</key>
			<string>^creditsCasting</string>
			<key>labelKey</key>
			<string>^titleCasting</string>
		</dict>
		<dict>
			<key>sourceLabel</key>
			<string>##label8</string>
			<key>defaultKey</key>
			<string>^creditsMusic</string>
			<key>labelKey</key>
			<string>^titleMusic</string>
		</dict>
	</array>
</dict>
</plist>
