<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>40800.64.16</string>
	<key>ProductBuildVersion</key>
	<string>20A1003a</string>
	<key>ProjectName</key>
	<string>ProEditor</string>
	<key>SourceVersion</key>
	<string>40800083016000000</string>
</dict>
</plist>
