<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_LOCALIZABLE_</key>
	<dict>
		<key>##heading</key>
		<string>Logostil:</string>
		<key>##label0</key>
		<string>Schwarzer Hintergrund</string>
		<key>##label1</key>
		<string>Rotierende Erde im Weltraum</string>
		<key>##label10</key>
		<string>Bäume</string>
		<key>##label2</key>
		<string>Sonnenstrahlen und Wolken</string>
		<key>##label3</key>
		<string>Verschneiter Berggipfel</string>
		<key>##label4</key>
		<string>Leuchtende Pyramide</string>
		<key>##label5</key>
		<string>Signale über der Weltkugel</string>
		<key>##label6</key>
		<string>Farbbalken</string>
		<key>##label7</key>
		<string>Löwenzahn</string>
		<key>##label8</key>
		<string>Galaxie</string>
		<key>##label9</key>
		<string>Straßenlaterne</string>
	</dict>
	<key>label</key>
	<string>##heading</string>
	<key>values</key>
	<array>
		<array>
			<string>##label0</string>
			<string>##label1</string>
			<string>##label2</string>
			<string>##label3</string>
			<string>##label4</string>
			<string>##label5</string>
			<string>##label6</string>
			<string>##label7</string>
			<string>##label8</string>
			<string>##label9</string>
			<string>##label10</string>
		</array>
	</array>
</dict>
</plist>
