<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstrumentIconGroups</key>
	<dict>
		<key>AuthoringTrackIcons</key>
		<array>
			<array>
				<string>ID_0413</string>
				<string>ID_0414</string>
				<string>ID_0415</string>
				<string>ID_0416</string>
				<string>ID_0417</string>
				<string>ID_0418</string>
				<string>ID_0419</string>
				<string>ID_0420</string>
				<string>ID_0200</string>
			</array>
		</array>
		<key>AudioRecorder</key>
		<array>
			<array>
				<string>ID_0184</string>
				<string>ID_0151</string>
				<string>ID_0152</string>
				<string>ID_0153</string>
				<string>ID_0154</string>
				<string>ID_0155</string>
				<string>ID_0156</string>
				<string>ID_0157</string>
				<string>ID_0158</string>
			</array>
		</array>
		<key>BasicSetBass</key>
		<array>
			<array>
				<string>ID_0079</string>
				<string>ID_0367</string>
				<string>ID_0078</string>
				<string>ID_0077</string>
				<string>ID_0368</string>
				<string>ID_0369</string>
				<string>ID_0374</string>
				<string>ID_0328</string>
				<string>ID_0329</string>
				<string>ID_0370</string>
				<string>ID_0421</string>
				<string>ID_0422</string>
			</array>
			<array>
				<string>ID_0472</string>
				<string>ID_0473</string>
				<string>ID_0474</string>
				<string>ID_0475</string>
			</array>
		</array>
		<key>BasicSetDrums</key>
		<array>
			<array>
				<string>ID_0013</string>
				<string>ID_0350</string>
				<string>ID_0012</string>
				<string>ID_0351</string>
				<string>ID_0352</string>
				<string>ID_0353</string>
				<string>ID_0022</string>
				<string>ID_0354</string>
				<string>ID_0014</string>
				<string>ID_0355</string>
				<string>ID_0356</string>
				<string>ID_0015</string>
				<string>ID_0016</string>
				<string>ID_0357</string>
				<string>ID_0358</string>
				<string>ID_0018</string>
				<string>ID_0359</string>
				<string>ID_0398</string>
				<string>ID_0004</string>
				<string>ID_0005</string>
				<string>ID_0009</string>
				<string>ID_0010</string>
			</array>
			<array>
				<string>ID_0542</string>
				<string>ID_0541</string>
				<string>ID_0540</string>
				<string>ID_0424</string>
				<string>ID_0425</string>
				<string>ID_0426</string>
				<string>ID_0427</string>
				<string>ID_0428</string>
				<string>ID_0429</string>
				<string>ID_0447</string>
				<string>ID_0446</string>
				<string>ID_0445</string>
				<string>ID_0430</string>
				<string>ID_0432</string>
				<string>ID_0431</string>
				<string>ID_0433</string>
				<string>ID_0117</string>
				<string>ID_0434</string>
				<string>ID_0435</string>
				<string>ID_0436</string>
				<string>ID_0471</string>
				<string>ID_0537</string>
				<string>ID_0469</string>
				<string>ID_0470</string>
				<string>ID_0539</string>
			</array>
		</array>
		<key>BasicSetFX</key>
		<array>
			<array>
				<string>ID_0209</string>
				<string>ID_0264</string>
				<string>ID_0306</string>
				<string>ID_0271</string>
			</array>
			<array>
				<string>ID_0507</string>
				<string>ID_0508</string>
				<string>ID_0455</string>
				<string>ID_0456</string>
				<string>ID_0509</string>
				<string>ID_0510</string>
				<string>ID_0008</string>
				<string>ID_0512</string>
				<string>ID_0513</string>
				<string>ID_0007</string>
				<string>ID_0449</string>
				<string>ID_0515</string>
				<string>ID_0516</string>
				<string>ID_0538</string>
				<string>ID_0517</string>
				<string>ID_0453</string>
				<string>ID_0518</string>
				<string>ID_0519</string>
				<string>ID_0520</string>
				<string>ID_0521</string>
				<string>ID_0527</string>
				<string>ID_0528</string>
				<string>ID_0529</string>
				<string>ID_0451</string>
				<string>ID_0448</string>
				<string>ID_0454</string>
				<string>ID_0524</string>
				<string>ID_0523</string>
				<string>ID_0534</string>
				<string>ID_0535</string>
				<string>ID_0536</string>
				<string>ID_0533</string>
				<string>ID_0525</string>
				<string>ID_0526</string>
				<string>ID_0450</string>
				<string>ID_0530</string>
				<string>ID_0532</string>
				<string>ID_0452</string>
				<string>ID_0531</string>
			</array>
		</array>
		<key>BasicSetGuitar</key>
		<array>
			<array>
				<string>ID_0061</string>
				<string>ID_0076</string>
				<string>ID_0371</string>
				<string>ID_0070</string>
				<string>ID_0060</string>
				<string>ID_0059</string>
				<string>ID_0062</string>
				<string>ID_0040</string>
				<string>ID_0071</string>
				<string>ID_0327</string>
				<string>ID_0041</string>
				<string>ID_0057</string>
				<string>ID_0372</string>
				<string>ID_0066</string>
				<string>ID_0074</string>
				<string>ID_0065</string>
				<string>ID_0463</string>
				<string>ID_0072</string>
				<string>ID_0373</string>
				<string>ID_0085</string>
				<string>ID_0376</string>
				<string>ID_0378</string>
				<string>ID_0087</string>
				<string>ID_0381</string>
				<string>ID_0383</string>
				<string>ID_0086</string>
				<string>ID_0067</string>
				<string>ID_0387</string>
				<string>ID_0389</string>
				<string>ID_0391</string>
				<string>ID_0392</string>
				<string>ID_0325</string>
			</array>
			<array>
				<string>ID_0476</string>
				<string>ID_0477</string>
				<string>ID_0478</string>
				<string>ID_0479</string>
				<string>ID_0480</string>
				<string>ID_0481</string>
				<string>ID_0482</string>
			</array>
		</array>
		<key>BasicSetKeyboards</key>
		<array>
			<array>
				<string>ID_0003</string>
				<string>ID_0393</string>
				<string>ID_0006</string>
				<string>ID_0394</string>
				<string>ID_0395</string>
				<string>ID_0054</string>
				<string>ID_0055</string>
				<string>ID_0050</string>
				<string>ID_0326</string>
				<string>ID_0396</string>
				<string>ID_0397</string>
				<string>ID_0172</string>
				<string>ID_0174</string>
				<string>ID_0173</string>
				<string>ID_0002</string>
				<string>ID_0399</string>
				<string>ID_0461</string>
			</array>
			<array>
				<string>ID_0483</string>
				<string>ID_0484</string>
				<string>ID_0485</string>
				<string>ID_0486</string>
				<string>ID_0543</string>
				<string>ID_0544</string>
				<string>ID_0488</string>
				<string>ID_0487</string>
				<string>ID_0545</string>
				<string>ID_0501</string>
				<string>ID_0502</string>
				<string>ID_0503</string>
			</array>
		</array>
		<key>BasicSetOther</key>
		<array>
			<array>
				<string>ID_0000</string>
				<string>ID_0406</string>
				<string>ID_0312</string>
				<string>ID_0304</string>
				<string>ID_0190</string>
				<string>ID_0191</string>
				<string>ID_0407</string>
				<string>ID_0408</string>
				<string>ID_0409</string>
				<string>ID_0410</string>
				<string>ID_0412</string>
				<string>ID_0193</string>
				<string>ID_0001</string>
			</array>
			<array>
				<string>ID_0204</string>
				<string>ID_0203</string>
				<string>ID_0199</string>
				<string>ID_0504</string>
				<string>ID_0505</string>
				<string>ID_0506</string>
				<string>ID_0024</string>
				<string>ID_0025</string>
				<string>ID_0026</string>
				<string>ID_0027</string>
				<string>ID_0028</string>
				<string>ID_0029</string>
				<string>ID_0546</string>
				<string>ID_0547</string>
				<string>ID_0548</string>
				<string>ID_0549</string>
				<string>ID_0550</string>
			</array>
		</array>
		<key>BasicSetPercussion</key>
		<array>
			<array>
				<string>ID_0020</string>
				<string>ID_0361</string>
				<string>ID_0250</string>
				<string>ID_0283</string>
				<string>ID_0281</string>
				<string>ID_0362</string>
				<string>ID_0282</string>
				<string>ID_0032</string>
				<string>ID_0034</string>
				<string>ID_0033</string>
				<string>ID_0280</string>
				<string>ID_0038</string>
				<string>ID_0377</string>
				<string>ID_0036</string>
				<string>ID_0251</string>
				<string>ID_0246</string>
				<string>ID_0363</string>
				<string>ID_0220</string>
				<string>ID_0011</string>
				<string>ID_0111</string>
				<string>ID_0248</string>
				<string>ID_0021</string>
				<string>ID_0364</string>
				<string>ID_0019</string>
				<string>ID_0035</string>
				<string>ID_0245</string>
				<string>ID_0243</string>
				<string>ID_0365</string>
				<string>ID_0244</string>
				<string>ID_0366</string>
				<string>ID_0253</string>
				<string>ID_0467</string>
				<string>ID_0468</string>
				<string>ID_0023</string>
			</array>
			<array>
				<string>ID_0441</string>
				<string>ID_0437</string>
				<string>ID_0439</string>
				<string>ID_0440</string>
				<string>ID_0442</string>
				<string>ID_0443</string>
				<string>ID_0444</string>
				<string>ID_0375</string>
				<string>ID_0360</string>
				<string>ID_0522</string>
				<string>ID_0112</string>
				<string>ID_0113</string>
				<string>ID_0114</string>
				<string>ID_0115</string>
				<string>ID_0116</string>
				<string>ID_0107</string>
				<string>ID_0108</string>
				<string>ID_0109</string>
				<string>ID_0118</string>
				<string>ID_0119</string>
				<string>ID_0120</string>
				<string>ID_0121</string>
			</array>
		</array>
		<key>BasicSetStrings</key>
		<array>
			<array>
				<string>ID_0400</string>
				<string>ID_0047</string>
				<string>ID_0106</string>
				<string>ID_0401</string>
				<string>ID_0079</string>
				<string>ID_0402</string>
				<string>ID_0102</string>
				<string>ID_0046</string>
				<string>ID_0104</string>
				<string>ID_0103</string>
				<string>ID_0080</string>
				<string>ID_0042</string>
				<string>ID_0043</string>
				<string>ID_0044</string>
				<string>ID_0045</string>
				<string>ID_0110</string>
				<string>ID_0462</string>
				<string>ID_0465</string>
				<string>ID_0069</string>
				<string>ID_0466</string>
				<string>ID_0096</string>
				<string>ID_0097</string>
				<string>ID_0098</string>
				<string>ID_0081</string>
				<string>ID_0099</string>
				<string>ID_0100</string>
				<string>ID_0101</string>
				<string>ID_0082</string>
			</array>
			<array>
				<string>ID_0489</string>
				<string>ID_0490</string>
				<string>ID_0472</string>
				<string>ID_0491</string>
				<string>ID_0492</string>
				<string>ID_0493</string>
			</array>
		</array>
		<key>BasicSetWind</key>
		<array>
			<array>
				<string>ID_0124</string>
				<string>ID_0126</string>
				<string>ID_0403</string>
				<string>ID_0148</string>
				<string>ID_0149</string>
				<string>ID_0132</string>
				<string>ID_0127</string>
				<string>ID_0128</string>
				<string>ID_0093</string>
				<string>ID_0094</string>
				<string>ID_0147</string>
				<string>ID_0133</string>
				<string>ID_0095</string>
				<string>ID_0404</string>
				<string>ID_0459</string>
				<string>ID_0405</string>
				<string>ID_0146</string>
				<string>ID_0159</string>
				<string>ID_0160</string>
				<string>ID_0140</string>
				<string>ID_0141</string>
				<string>ID_0142</string>
				<string>ID_0051</string>
				<string>ID_0162</string>
				<string>ID_0166</string>
				<string>ID_0464</string>
				<string>ID_0143</string>
				<string>ID_0144</string>
				<string>ID_0145</string>
			</array>
			<array>
				<string>ID_0494</string>
				<string>ID_0495</string>
				<string>ID_0496</string>
				<string>ID_0497</string>
				<string>ID_0498</string>
				<string>ID_0499</string>
				<string>ID_0500</string>
			</array>
		</array>
		<key>CustomSet</key>
		<array>
			<array>
				<string>ID_0999</string>
			</array>
		</array>
		<key>LogicLegacy</key>
		<array>
			<array>
				<string>ID_0001</string>
				<string>ID_0409</string>
				<string>ID_0410</string>
				<string>ID_0412</string>
			</array>
		</array>
	</dict>
	<key>Categories</key>
	<dict>
		<key>AuthoringIconCategories</key>
		<array>
			<dict>
				<key>IconGroup</key>
				<string>AuthoringTrackIcons</string>
				<key>IconGroupKey</key>
				<string>AuthoringTrackIcons</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>AudioRecorder</string>
				<key>IconGroupKey</key>
				<string>AudioRecorder</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetDrums</string>
				<key>IconGroupKey</key>
				<string>BasicSetDrums</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetPercussion</string>
				<key>IconGroupKey</key>
				<string>BasicSetPercussion</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetBass</string>
				<key>IconGroupKey</key>
				<string>BasicSetBass</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetGuitar</string>
				<key>IconGroupKey</key>
				<string>BasicSetGuitar</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetKeyboards</string>
				<key>IconGroupDefaultKey</key>
				<true/>
				<key>IconGroupKey</key>
				<string>BasicSetKeyboards</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetStrings</string>
				<key>IconGroupKey</key>
				<string>BasicSetStrings</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetWind</string>
				<key>IconGroupKey</key>
				<string>BasicSetWind</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetFX</string>
				<key>IconGroupKey</key>
				<string>BasicSetFX</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetOther</string>
				<key>IconGroupKey</key>
				<string>BasicSetOther</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>LogicLegacy</string>
				<key>IconGroupKey</key>
				<string>LogicLegacy</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>CustomSet</string>
				<key>IconGroupKey</key>
				<string>CustomSet</string>
			</dict>
		</array>
		<key>SortedIconCategories</key>
		<array>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetDrums</string>
				<key>IconGroupKey</key>
				<string>BasicSetDrums</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetPercussion</string>
				<key>IconGroupKey</key>
				<string>BasicSetPercussion</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetBass</string>
				<key>IconGroupKey</key>
				<string>BasicSetBass</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetGuitar</string>
				<key>IconGroupKey</key>
				<string>BasicSetGuitar</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetKeyboards</string>
				<key>IconGroupDefaultKey</key>
				<true/>
				<key>IconGroupKey</key>
				<string>BasicSetKeyboards</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetStrings</string>
				<key>IconGroupKey</key>
				<string>BasicSetStrings</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetWind</string>
				<key>IconGroupKey</key>
				<string>BasicSetWind</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetFX</string>
				<key>IconGroupKey</key>
				<string>BasicSetFX</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>BasicSetOther</string>
				<key>IconGroupKey</key>
				<string>BasicSetOther</string>
			</dict>
			<dict>
				<key>IconGroup</key>
				<string>CustomSet</string>
				<key>IconGroupKey</key>
				<string>CustomSet</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
